﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="aboutUs.css">
    <link rel="stylesheet" type="text/css" href="aboutUssec.css">
    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>

    @Styles.Render("~/Content/aboutUs.css")
    @Styles.Render("~/Content/aboutUssec.css")
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")

    <script>

        $(document).ready(function () {
            $("#formB").click(function () {
                $("#form1").toggle();
            });
        });


    </script>

    <script type="text/javascript">
        function Main() {
            var b1 = document.getElementById('btnsave');
            b1.onclick = function () {
                var v1 = document.getElementById('name');
                var v2 = document.getElementById('email');
                var v3 = document.getElementById('password');
                var v4 = document.getElementById('city');
                var v5 = document.getElementById('signupas');

                if (v1.value == '') {
                    alert('Name cant be empty!');
                    return false;
                }
                if (v2.value == '') {
                    alert('Email cant be empty!');
                    return false;
                }
                if (v3.value == '') {
                    alert('Password cant be empty!');
                    return false;
                }
                if (v4.value == 'City') {
                    alert('Select City!');
                    return false;
                }
                if (v5.value == 'SignUp') {
                    alert('Select Role!');
                    return false;
                }
                return true; //Returning true will continue submitting
            };//end of onclick
        }
    </script>

</head>
<body onload="Main();">
    <header>
        <img class="imggg" src="~/logo.png" height="120px" width="220px" />
        @if (Session["user_id"] == null && Session["doctor_id"] == null)
{
    <button class="button formButton" id="formB">Sign In</button>
    <button id="myBtn" class="button formButton">Sign Up</button>
}
@if (Session["user_id"] != null || Session["doctor_id"] != null)
{
    <button id="myBtn1" class="button formButton"><a href="~/Home/logout" style="text-decoration:none;color:black;">Logout</a></button>

}

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>

                <form class="form-style-9" action="/Home/etechcare" method="POST">
                    <p class="sign">Sign Up</p>
                    <ul>
                        <li>

                            <input type="text" name="name" id="name" class="field-style field-split align-left" placeholder="Name" />
                        </li>
                        <li>

                            <input type="email" name="email" id="email" class="field-style field-split align-right" placeholder="Email" />

                        </li>
                        <li>
                            <input type="password" name="password" id="password" class="field-style field-split align-left" placeholder="Password" />
                        </li>
                        <li>
                            <input type="password" name="cpassword" id="password" class="field-style field-split align-left" placeholder="Confirm Password" />
                        </li>
                        <li>
                            <select class="field-style city" name="city" id="city">
                                <option value="City" hidden>City</option>
                                <option value="Abbottabad"> Abbottabad </option>
                                <option value="Bahawalpur"> Bahawalpur </option>
                                <option value="Charsada"> Charsada </option>
                                <option value="Chakwal"> Chakwal </option>
                                <option value="Dera Ghazi Khan"> Dera Ghazi Khan </option>
                                <option value="Daska"> Daska</option>
                                <option value="Dera Ismail Khan"> Dera Ismail Khan</option>
                                <option value="Faisalabad"> Faisalabad </option>
                                <option value="Gujranwala"> Gujranwala </option>
                                <option value="Gujrat"> Gujrat </option>
                                <option value="Hyderabad"> Hyderabad </option>
                                <option value="Hafizabad"> Hafizabad </option>
                                <option value="Islamabad"> Islamabad </option>
                                <option value="Jhang"> Jhang </option>
                                <option value="Jhelum"> Jhelum</option>
                                <option value="Karachi"> Karachi</option>
                                <option value="Kasur"> Kasur </option>
                                <option value="Kamoke"> Kamoke </option>
                                <option value="Khairpur"> Khairpur </option>
                                <option value="Lahore"> Lahore </option>
                                <option value="Larkana"> Larkana </option>
                                <option value="Multan"> Multan </option>
                                <option value="Muzaffargarh"> Muzaffargarh </option>
                                <option value="Muridke"> Muridke </option>
                                <option value="Peshawar"> Peshawar</option>
                                <option value="Quetta"> Quetta</option>
                                <option value="Rawalpindi"> Rawalpindi</option>
                                <option value="Rahim Yar Khan"> Rahim Yar Khan</option>
                                <option value="Sialkot"> Sialkot </option>
                                <option value="Sargodha"> Sargodha </option>
                                <option value="Sukkur"> Sukkur </option>
                                <option value="Shekhupura"> Shekhupura </option>
                                <option value="Sahiwal"> Sahiwal </option>

                            </select>
                        </li>
                        <li>
                            <select class="field-style city" name="signupas" id="signupas" required>
                                <option value="SignUp" hidden>SignUp As</option>
                                <option value="Doctor"> Doctor </option>
                                <option value="Patient"> Patient </option>



                            </select>
                        </li>

                        <li>
                            <button class="submit" name="btnsave" id="btnsave">Submit</button>
                        </li>
                    </ul>
                </form>
            </div>

        </div>

        <script>
            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal


            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>

        @if (Session["doctor_id"] != null)
        {
            <button class="button"><a href="~/Home/docprofile" style="text-decoration:none;color:black;">Profile</a></button>
        }

        <button class="button"><a href="~/Home/contactus" style="text-decoration:none;color:black;">Contact Us</a></button>
@if (Session["user_id"] != null)
{   <button class="button"><a href="~/Home/services" style="text-decoration:none;color:black;">Services</a></button>}
        <button class="button"><a href="~/Home/etechcare" style="text-decoration:none;color:black;">Home</a></button>
    </header>
    <img src="~/about.png" class="extraa" width="500px" height="570px">
    <div class="uper">
        <div class="divv">
            <br><br>
            <h1> ABOUT THE WEBSITE:</h1><br>
            Many people worry about getting the most out of a visit to the doctor, because of the fear of not understanding the<br> information that is given or simply because of lack of the confidence to question a diagnosis.<br><br>
            <span class="bold"> E-Tech Care</span> alleviates this worry by arming users with all the information needed to understand their symptoms. It is a free tool that can help them understand and research their own symptoms, diagnose the disease through them and furthermore, get suggestions to choose a physician to seek medical treatment.
            <br><br>
            Our services include:<br><br>
            (i) Helping user in identifying his disease by collecting information about his symptoms.<br><br>
            (ii) Explaining the disease briefly to the user for his better understanding of his condition.<br><br>
            (iii) Suggesting a specialist to the user according to his disease.<br><br>
            (iv) Allowing doctors to update their data for the users to view from.<br><br><br>
            <h1> ABOUT THE TEAM:</h1><br>
            E-Tech Care is launched by a team of three computer science students, which are struggling to be better software engineers and IT specialists. We chose to create this website for our Final Year Project as an effort to put our knowledge and skills in order to facilitate and  provide ease for the people as well as we can.<br><br>
            Please <a href="" class="link"> Contact Us </a> if you have suggestions on how we can further improve or enhance our idea
        </div>
    </div>

    <form id="form1" class="form-style-91" action="/Home/signin" method="POST">

        <ul>
            <li>

                <input type="email" name="email" class="field-style field-split align-left" placeholder="Email" />
            </li>
            <li>

                <input type="password" name="password" class="field-style field-split align-right" placeholder="Password" />
            </li>
            <li>
                <a href="~/Home/forgot" class="forgot91">Fogot Your Password?</a>
                <button type="submit" id="submit">Log In</button>
            </li>


        </ul>
    </form>


    <footer>

        <img class="imgggg" src="~/logo.png" height="85px" width="160px" />
        <div class="end">
            <div class="imgfoter">
                <a href="https://facebook.com/etechcare.web" target="_blank">
                    <img src="~/fb.png" height="25px" width="25px"></a>
                
                <a href="info.etechcare@gmail.com" target="_blank">
                    <img src="~/gmail.png" height="27px" width="25px">
                </a>

                <a href="https://twitter.com/etechcare_web" target="_blank">
                    <img src="~/twi.png" height="25px" width="25px">
                </a>

                <a href="https://instagram.com/etechcare_web" target="_blank">
                    <img src="~/insta.png" height="25px" width="25px">
                </a>
</div>
            <span class="copy" style="padding-top:0px;"><font face="arial"><a href="~/Home/terms_and_conditions" style="color:black;">Terms & Conditions</a> Copyright &copy; etechcare.com 2018</font></span>        </div>
    </footer>
</body>
</html>