﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>


    <title>Doctor Information</title>

    @Styles.Render("~/Content/cssfiledoc.css")
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")

    @if (Session["invalid"] != null)
    {
        <script>alert("Fill requirements correctly")</script>
        Session["invalid"] = null;
    }

    <script type="text/javascript">
        function Main() {
            var b1 = document.getElementById('btnsave');
            b1.onclick = function () {
                var v1 = document.getElementById('number');
                var v2 = document.getElementById('email');
                var v3 = document.getElementById('fee');
                var v4 = document.getElementById('specialization');
                var v5 = document.getElementById('time1');
                var v6 = document.getElementById('time2');
                var v7 = document.getElementById('hospital');
                var v8 = document.getElementById('address');
                if (v1.value == '') {
                    alert('Fill All Requirements!');
                    return false;
                }
                if (v2.value == '') {
                    alert('Fill All Requirements!');
                    return false;
                }
                if (v3.value == '') {
                    alert('Fill All Requirements!');
                    return false;
                }
                if (v4.value == 'specialization') {
                    alert('Fill All Requirements!');
                    return false;
                }
                if (v5.value == 'select') {
                    alert('Fill All Requirements!');
                    return false;
                }
                if (v6.value == 'select') {
                    alert('Fill All Requirements!');
                    return false;
                }
                if (v7.value == '') {
                    alert('Fill All Requirements!');
                    return false;
                }
                if (v8.value == '') {
                    alert('Fill All Requirements!');
                    return false;
                }
                return true; //Returning true will continue submitting
            };//end of onclick
        }
    </script>

 


</head>
<body onload="Main();">



    <header>
        <img class="imggg" src="~/web.png" height="70px" width="150px" />

        <button id="myBtn" class="button formButton"><a href="~/Home/logout" style="text-decoration:none;color:black;">Logout</a></button>

        <button class="button"><a href="~/Home/contactus" style="text-decoration:none;color:black;">Contact Us</a></button>
        <button class="button"><a href="~/Home/aboutus" style="text-decoration:none;color:black;">About Us</a></button>
        @if (Session["user_id"] != null)
        {   <button class="button"><a href="~/Home/services" style="text-decoration:none;color:black;">Services</a></button>}
        <button class="button"><a href="~/Home/etechcare" style="text-decoration:none;color:black;">Home</a></button>
    </header>
    <div class="doc">

    </div>

    <form class="form-style-9" action="/Home/addinfo" method="POST">
        <p class="sign">Doctor Information</p><br>
        <ul>
            <span class="names">Email</span>
            <li>

                <input type="email" name="email" id="email" class="field-style email" />
            </li>
            <span class="names">Specialization</span>
            <li>

                <select class="field-style field-split grey" name="specialization" id="specialization">
                    <option value="select" hidden>-- Select --</option>
                    <option value="1"> Allergist or Immunologist</option>
                    <option value="2"> Cardiologist</option>
                    <option value="3"> Dermatologist</option>
                    <option value="4"> Endocrinologists</option>
                    <option value="5"> Emergency physician</option>
                    <option value="6"> Gastroenterologist</option>
                    <option value="7"> Hematologist/Oncologist</option>
                    <option value="8"> Hepatologist</option>
                    <option value="9"> Infectious disease specialists</option>
                    <option value="10"> Internal Medicine Physician</option>
                    <option value="11"> Nephrologist</option>
                    <option value="12"> Neurologist</option>
                    <option value="13"> Ophthalmologist</option>
                    <option value="14"> Orthopedics</option>
                    <option value="15"> Otolaryngologist</option>
                    <option value="16"> Pathologist</option>
                    <option value="17"> Pulmonologists</option>
                    <option value="18">Rheumatologist</option>
                    <option value="19"> Urologist</option>
                    
                </select>

            </li>
            <span class="names">Contact Number</span>
            <li>

                <input type="text" name="number" id="number" class="field-style cnum" />

            </li>


            <li>
                <span class="names">Availability hours</span>
                <select class="field-style from grey" name="time1" id="time1">
                    <option value="select" hidden>00:00</option>
                    <option value="01:00">01:00</option>
                    <option value="01:30">01:30</option>
                    <option value="02:00">02:00</option>
                    <option value="02:30">02:30</option>
                    <option value="03:00">03:00</option>
                    <option value="03:30">03:30</option>
                    <option value="04:00">04:00</option>
                    <option value="04:30">04:30</option>
                    <option value="05:00">05:00</option>
                    <option value="05:30">05:30</option>
                    <option value="06:00">06:00</option>
                    <option value="06:30">06:30</option>
                    <option value="07:00">07:00</option>
                    <option value="07:30">07:30</option>
                    <option value="08:00">08:00</option>
                    <option value="08:30">08:30</option>
                    <option value="09:00">09:00</option>
                    <option value="09:30">09:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                    <option value="12:00">12:00</option>
                    <option value="12:30">12:30</option>


                </select>
                <select class="field-style am1 grey" name="ap1" id="ap1">

                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
                <label class="sep">-</label>


                <select class="field-style to grey" name="time2" id="time2">
                    <option value="select" hidden>00:00</option>
                    <option value="01:00">01:00</option>
                    <option value="01:30">01:30</option>
                    <option value="02:00">02:00</option>
                    <option value="02:30">02:30</option>
                    <option value="03:00">03:00</option>
                    <option value="03:30">03:30</option>
                    <option value="04:00">04:00</option>
                    <option value="04:30">04:30</option>
                    <option value="05:00">05:00</option>
                    <option value="05:30">05:30</option>
                    <option value="06:00">06:00</option>
                    <option value="06:30">06:30</option>
                    <option value="07:00">07:00</option>
                    <option value="07:30">07:30</option>
                    <option value="08:00">08:00</option>
                    <option value="08:30">08:30</option>
                    <option value="09:00">09:00</option>
                    <option value="09:30">09:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                    <option value="12:00">12:00</option>
                    <option value="12:30">12:30</option>


                </select>
                <select class="field-style am2 grey" name="ap2" id="ap2">

                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
            </li>

            <li>
                <span class="names">Fee</span>
                <input type="text" name="fee" id="fee" class="field-style fee" />

            </li>
            <li>
                <span class="names">Hospital</span>
                <input type="text" name="hospital" id="hospital" class="field-style hos" />

            </li>
            <li>
                <span class="names">Address</span>

            <li>
                <input type="text" name="address" id="address" class="field-style grey add" />
            <li>
            <li>
                <button type="submit" name="btnsave" id="btnsave" class="submit">Submit</button>
            </li>
        </ul>
    </form>


    <footer>

        <img class="imgggg" src="~/logo.png" height="85px" width="160px" />
        <div class="end">
            <div class="imgfoter">
                <a href="https://facebook.com/etechcare.web" target="_blank">
                    <img src="~/fb.png" height="25px" width="25px">
                </a>

                <a href="info.etechcare@gmail.com" target="_blank">
                    <img src="~/gmail.png" height="27px" width="25px">
                </a>

                <a href="https://twitter.com/etechcare_web" target="_blank">
                    <img src="~/twi.png" height="25px" width="25px">
                </a>

                <a href="https://instagram.com/etechcare_web" target="_blank">
                    <img src="~/insta.png" height="25px" width="25px">
                </a>
            </div>
            <span class="copy" style="padding-top:0px;"><font face="arial"><a href="~/Home/terms_and_conditions" style="color:black;">Terms & Conditions</a> Copyright &copy; etechcare.com 2018</font></span>
        </div>
    </footer>

</body>
</html>