﻿@model ETechCare.Models.UserDTO

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Doctor Profile</title>

    @Styles.Render("~/Content/docProfile.css")
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @if (Session["invalid"] != null)
    {
        <script>alert("Fill requirements correctly")</script>
        Session["invalid"] = null;
    }

    <link rel="stylesheet" type="text/css" href="docProfile.css">
    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#butn").click(function () {

                $(".hide").hide(-100000);
            });
        });

        $(document).ready(function () {
            $("#butn").click(function () {

                $(".secform").show(-100000);
            });
        });

    </script>

    <script type="text/javascript">
        function Main() {
            var b1 = document.getElementById('btnsave');
            b1.onclick = function () {
                var v1 = document.getElementById('number');
                var v2 = document.getElementById('email');
                var v3 = document.getElementById('fee');
                var v7 = document.getElementById('hospital');
                var v8 = document.getElementById('address');
                var v4 = document.getElementById('name');
                var v5 = document.getElementById('password');
                if (v1.value == '') {
                    alert('Fill All Requirements!');
                    return false;
                }
                if (v2.value == '') {
                    alert('Fill All Requirements!');
                    return false;
                }
                if (v3.value == '') {
                    alert('Fill All Requirements!');
                    return false;
                }
                
                if (v7.value == '') {
                    alert('Fill All Requirements!');
                    return false;
                }
                if (v8.value == '') {
                    alert('Fill All Requirements!');
                    return false;
                }
                if (v4.value == '') {
                    alert('Fill All Requirements!');
                    return false;
                }
                if (v5.value == '') {
                    alert('Fill All Requirements!');
                    return false;
                }
                return true; //Returning true will continue submitting
            };//end of onclick
        }
    </script>

</head>
<body onload="Main();">
    <header>
        <img class="imggg" src="~/logo.png" height="120px" width="220px" />
        
        <button id="myBtn11" class="button formButton"><a href="~/Home/logout" style="text-decoration:none;color:black;">Logout</a></button>

        <button class="button"><a href="~/Home/contactus" style="text-decoration:none;color:black;">Contact Us</a></button>
        <button class="button"><a href="~/Home/aboutus" style="text-decoration:none;color:black;">About Us</a></button>
        <button class="button"><a href="~/Home/etechcare" style="text-decoration:none;color:black;">Home</a></button>
    </header>


    <div class="formdoc">

        <div class="intdiv">

            <p class="s-1 hide ">
                Dr. @Model.Name
            </p>
            <button id="butn" class="edit hide"> Edit Profile</button>
            <div class="imagedp hide">
                <form action="/Home/uploadpic" method="POST" enctype="multipart/form-data">
                    <label>
                       
                        @if (Model.pic == "")
                        {
                            <img id="blah" src="~/dp.png" alt="your image" class="im" width="200px" height="200px" /><br><br>
                        }
                        else
                        {
                            <img id="blah" src="@Url.Content("~/Profiles/" + @Model.pic)" alt="your image" class="im" width="200px" height="200px" /><br><br>
                        }

                        
                        
                        <input type="file" onchange="readURL(this);" name="profilepic" class="in" style="width:100px; height:30px; background-color: #1C86EE; color: white;  border:#0198E1;border-width: 2px;
    border-radius: 5px; margin-left: 0px;" id="hi">
                        Upload Photo
                        </input>

                        <button type="submit" class="in" style="width:80px; height:30px; background-color: #1C86EE; color: white;  border:#0198E1;border-width: 2px;
    border-radius: 5px; margin-left: 30px; position: absolute;" id="showwn" ;>
                            Save
                        </button>
                    </label>
                </form>


            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="greyy">
                <span class="s-2">
                    Email (Professional)
                </span>
                <br><br><br>
                <span class="hidee hide">
                    @Model.cemail
                </span><br><br>
            </div><br>

            <div class="greyy">
                <span class="s-2">
                    Specialization
                </span>
                <br><br><br>
                <span class="hidee hide">
                    @Model.specialization
                </span><br><br>
            </div><br>

            <div class="greyy">
                <span class="s-2">
                    Location
                </span>
                <br><br><br>
                <span class="hidee hide">
                    @Model.city
                </span><br><br>
            </div><br>

            <div class="greyy">
                <span class="s-2">
                    Contact Number
                </span>
                <br><br><br>
                <span class="hidee hide">
                    @Model.number
                </span><br><br>
            </div><br>

            <div class="greyy">
                <span class="s-2">
                    Availability hours
                </span>
                <br><br><br>
                <span class="hidee hide">
                    @Model.time
                </span><br><br>
            </div><br>

            <div class="greyy">
                <span class="s-2">
                    Fee
                </span>
                <br><br><br>
                <span class="hidee hide">
                    PKR @Model.fee
                </span><br><br>
            </div><br>
            <div class="greyy">
                <span class="s-2">
                    Hospital/Clinic
                </span>
                <br><br><br>
                <span class="hidee hide">
                    @Model.hospital
                </span><br><br>
            </div> <br>
            <div class="greyy">
                <span class="s-2">
                    Address
                </span>
                <br><br><br>
                <span class="hidee hide">
                    @Model.address
                </span>
            </div>


            <form class="secform" action="/Home/updateInfo" method="POST">
                <div class="intdivv">

                    <br>
                    <div class="greyy">
                        <span class="s-2">
                            Name
                        </span>
                        <br><br><br>
                        <input type="text" class="hidee inp" value="@Model.Name" name="name" id="name">
                        <br><br>
                    </div><br>

                    <div class="greyyy">
                        <span class="s-2">
                            Password
                        </span>
                        <br><br><br>
                        <input type="password" class="hidee inp" value="@Model.Password" name="password" id="password">
                        <br><br>
                    </div>

                    <br>
                    <br><br><br>
                    <input type="text" class="hideee inp" value="@Model.cemail" name="email" id="email">
                    <br>
                    <br><br><br><br><br><br>
                    <select class="inpu hideee" name="specialization" id="specialization">
                        <option value="@Model.specializationID" hidden>@Model.specialization</option>
                        <option value="1"> Allergist or Immunologist</option>
                        <option value="2"> Cardiologist</option>
                        <option value="3"> Dermatologist</option>
                        <option value="4"> Endocrinologists</option>
                        <option value="5"> Emergency physician</option>
                        <option value="6"> Gastroenterologist</option>
                        <option value="7"> Hematologist/Oncologist</option>
                        <option value="8"> Hepatologist</option>
                        <option value="9"> Infectious disease specialists</option>
                        <option value="10"> Internal Medicine Physician</option>
                        <option value="11"> Nephrologist</option>
                        <option value="12"> Neurologist</option>
                        <option value="13"> Ophthalmologist</option>
                        <option value="14"> Orthopedics</option>
                        <option value="15"> Otolaryngologist</option>
                        <option value="16"> Pathologist</option>
                        <option value="17"> Pulmonologists</option>
                        <option value="18">Rheumatologist</option>
                        <option value="19"> Urologist</option>

                    </select>
                    <br>
                    <br><br><br><br><br><br>
                    <select class="hideee inpu" name="city" id="city">
                        <option value="@Model.city" hidden>@Model.city</option>
                        <option value="Abbottabad"> Abbottabad </option>
                        <option value="Bahawalpur"> Bahawalpur </option>
                        <option value="Charsada"> Charsada </option>
                        <option value="Chakwal"> Chakwal </option>
                        <option value="Dera Ghazi Khan"> Dera Ghazi Khan </option>
                        <option value="Daska"> Daska</option>
                        <option value="Dera Ismail Khan"> Dera Ismail Khan</option>
                        <option value="Faisalabad"> Faisalabad </option>
                        <option value="Gujranwala"> Gujranwala </option>
                        <option value="Gujrat"> Gujrat </option>
                        <option value="Hyderabad"> Hyderabad </option>
                        <option value="Hafizabad"> Hafizabad </option>
                        <option value="Islamabad"> Islamabad </option>
                        <option value="Jhang"> Jhang </option>
                        <option value="Jhelum"> Jhelum</option>
                        <option value="Karachi"> Karachi</option>
                        <option value="Kasur"> Kasur </option>
                        <option value="Kamoke"> Kamoke </option>
                        <option value="Khairpur"> Khairpur </option>
                        <option value="Lahore"> Lahore </option>
                        <option value="Larkana"> Larkana </option>
                        <option value="Multan"> Multan </option>
                        <option value="Muzaffargarh"> Muzaffargarh </option>
                        <option value="Muridke"> Muridke </option>
                        <option value="Peshawar"> Peshawar</option>
                        <option value="Quetta"> Quetta</option>
                        <option value="Rawalpindi"> Rawalpindi</option>
                        <option value="Rahim Yar Khan"> Rahim Yar Khan</option>
                        <option value="Sialkot"> Sialkot </option>
                        <option value="Sargodha"> Sargodha </option>
                        <option value="Sukkur"> Sukkur </option>
                        <option value="Shekhupura"> Shekhupura </option>
                        <option value="Sahiwal"> Sahiwal </option>

                    </select>
                    <br>
                    <br><br><br><br><br>
                    <input type="text" class="hideee extra inp" value="@Model.number" name="number" id="number">
                    <br>
                    <br><br><br><br><br><br>
                    <select class="hideee one grey" name="time1" id="time1">
                        <option value="@ViewBag.t1" hidden>@ViewBag.t1</option>
                        <option value="01:00">01:00</option>
                        <option value="01:30">01:30</option>
                        <option value="02:00">02:00</option>
                        <option value="02:30">02:30</option>
                        <option value="03:00">03:00</option>
                        <option value="03:30">03:30</option>
                        <option value="04:00">04:00</option>
                        <option value="04:30">04:30</option>
                        <option value="05:00">05:00</option>
                        <option value="05:30">05:30</option>
                        <option value="06:00">06:00</option>
                        <option value="06:30">06:30</option>
                        <option value="07:00">07:00</option>
                        <option value="07:30">07:30</option>
                        <option value="08:00">08:00</option>
                        <option value="08:30">08:30</option>
                        <option value="09:00">09:00</option>
                        <option value="09:30">09:30</option>
                        <option value="10:00">10:00</option>
                        <option value="10:30">10:30</option>
                        <option value="11:00">11:00</option>
                        <option value="11:30">11:30</option>
                        <option value="12:00">12:00</option>
                        <option value="12:30">12:30</option>


                    </select>
                    <select class="one grey" name="ap1" id="ap1">

                        <option value="@ViewBag.a1" hidden>@ViewBag.a1</option>
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                    </select>
                    <label class="bold">-</label>


                    <select class="one grey" name="time2" id="time2">
                        <option value="@ViewBag.t2" hidden>@ViewBag.t2</option>
                        <option value="01:00">01:00</option>
                        <option value="01:30">01:30</option>
                        <option value="02:00">02:00</option>
                        <option value="02:30">02:30</option>
                        <option value="03:00">03:00</option>
                        <option value="03:30">03:30</option>
                        <option value="04:00">04:00</option>
                        <option value="04:30">04:30</option>
                        <option value="05:00">05:00</option>
                        <option value="05:30">05:30</option>
                        <option value="06:00">06:00</option>
                        <option value="06:30">06:30</option>
                        <option value="07:00">07:00</option>
                        <option value="07:30">07:30</option>
                        <option value="08:00">08:00</option>
                        <option value="08:30">08:30</option>
                        <option value="09:00">09:00</option>
                        <option value="09:30">09:30</option>
                        <option value="10:00">10:00</option>
                        <option value="10:30">10:30</option>
                        <option value="11:00">11:00</option>
                        <option value="11:30">11:30</option>
                        <option value="12:00">12:00</option>
                        <option value="12:30">12:30</option>


                    </select>
                    <select class="one grey" name="ap2" id="ap2">

                        <option value="@ViewBag.a2" hidden>@ViewBag.a2</option>
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                    </select>
                    <br>
                    <br><br><br><br><br>
                    <input type="text" class="hideee extra inp" placeholder="PKR" value="@Model.fee" name="fee" id="fee">
                    <br>
                    <br><br><br><br><br><br>
                    <input type="text" class="hideee inp" value="@Model.hospital" name="hospital" id="hospital">
                    <br>
                    <br><br><br><br><br>
                    <input type="text" class="hideee extra inp" value="@Model.address" name="address" id="address">
                    <button class="save" name="btnsave" id="btnsave"> Save</button>
                </div>
            </form>

        </div>
    </div>







    <footer>

        <img class="imgggg" src="~/logo.png" height="85px" width="160px" />
        <div class="end">
            <div class="imgfoter">
                <a href="https://facebook.com/etechcare.web" target="_blank">
                    <img src="~/fb.png" height="25px" width="25px">
                </a>

                <a href="info.etechcare@gmail.com" target="_blank">
                    <img src="~/gmail.png" height="27px" width="25px">
                </a>

                <a href="https://twitter.com/etechcare_web" target="_blank">
                    <img src="~/twi.png" height="25px" width="25px">
                </a>

                <a href="https://instagram.com/etechcare_web" target="_blank">
                    <img src="~/insta.png" height="25px" width="25px">
                </a>
            </div>
            <span class="copy" style="padding-top:0px; margin-left:-50px;"><font face="arial"><a href="~/Home/terms_and_conditions" style="color: black; margin-left: -215px; "">Terms & Conditions</a> Copyright &copy; etechcare.com 2018</font></span>
        </div>
    </footer>
</body>
</html>