﻿@model List<ETechCare.Models.UserDTO>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Doctor Finder</title>
    <link rel="stylesheet" type="text/css" href="doctor.css">
    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
    @Styles.Render("~/Content/doctor.css")
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")


</head>
<body>
    <header>
        <img class="imggg" src="~/logo.png" height="120px" width="220px" />
        <button id="myBtn1" class="button formButton"><a href="~/Home/logout" style="text-decoration:none;color:black;">Logout</a></button>


        <button class="button"><a href="~/Home/contactus" style="text-decoration:none;color:black;">Contact Us</a></button>
        <button class="button"><a href="~/Home/aboutus" style="text-decoration:none;color:black;">About Us</a></button>
@if (Session["user_id"] != null)
{   <button class="button"><a href="~/Home/services" style="text-decoration:none;color:black;">Services</a></button>}
        <button class="button"><a href="~/Home/etechcare" style="text-decoration:none;color:black;">Home</a></button>
    </header>
    <div class="f">
    </div>
    
   
    <br><br>
@foreach (var item in Model)
{ 
    <div class="thi">
        <img src="~/dp.png" class="pro">
        <h1 class="named"><a href="~/Home/showProfile/@item.UserID">@item.Name</a></h1>
        <p class="spec">@item.specialization </p>
        <p class="time">@item.time </p>
        <p class="hos">@item.hospital  </p>
        <button class="det"><a href="~/Home/showProfile/@item.UserID"></a>Show Doctor Details</button>
        <a href="~/Home/showProfile/@item.UserID">Show</a>
    </div>
}
    
    </div>


    <footer>

        <img class="imgggg" src="~/logo.png" height="85px" width="160px" />
        <div class="end">
            <div class="imgfoter">
                <a href="https://facebook.com/etechcare.web" target="_blank">
                    <img src="~/fb.png" height="25px" width="25px">
                </a>

                <a href="info.etechcare@gmail.com" target="_blank">
                    <img src="~/gmail.png" height="27px" width="25px">
                </a>

                <a href="https://twitter.com/etechcare_web" target="_blank">
                    <img src="~/twi.png" height="25px" width="25px">
                </a>

                <a href="https://instagram.com/etechcare_web" target="_blank">
                    <img src="~/insta.png" height="25px" width="25px">
                </a>
            </div>
            <span class="copy" style="padding-top:0px;"><font face="arial"><a href="~/Home/terms_and_conditions" style="color: black;margin-left:-1000px;">Terms & Conditions</a> Copyright &copy; etechcare.com 2018</font></span>
        </div>
    </footer>
</body>
</html>