﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>E-TechCare Home</title>
    @Styles.Render("~/Content/cssfile.css")
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    <script>
        
        $(document).ready(function () {
            $("#formB").click(function () {
                $("#form1").toggle();
            });
        });


    </script>
    @if(Session["flogin"] != null)
    {
        <script>alert("Email or Password Incorrect")</script>
        Session["flogin"] = null;
    }
    
    @if (Session["email"] != null)
    {
        <script>alert("Email Sending Failed")</script>
        Session["email"] = null;
    }
    @if (Session["emails"] != null)
    {
        <script>alert("Email Sent!!")</script>
        Session["emails"] = null;
    }
    

    <script type="text/javascript">
        function Main() {
            var b1 = document.getElementById('btnsave');
            b1.onclick = function () {
                var v1 = document.getElementById('name');
                var v2 = document.getElementById('email');
                var v3 = document.getElementById('password');
                var v6 = document.getElementById('cpassword');
                var v4 = document.getElementById('city');
                var v5 = document.getElementById('signupas');

                if (v1.value == '') {
                    alert('Name cant be empty!');
                    return false;
                }
                if (v2.value == '') {
                    alert('Email cant be empty!');
                    return false;
                }
                if (v3.value == '') {
                    alert('Password cant be empty!');
                    return false;
                }
                if (v3.value != v6.value)
                {
                    alert("Password and Confirm Password are not same!");
                }
                if (v4.value == 'City') {
                    alert('Select City!');
                    return false;
                }
                if (v5.value == 'SignUp') {
                    alert('Select Role!');
                    return false;
                }
                return true; //Returning true will continue submitting
            };//end of onclick
        }
    </script>

</head>
@{
    if(ViewBag.Exist != null)
    {
        ViewBag.Exist = null;
        <script>alert("Email Already Exists")</script>
    }
}
<body onload="Main();">


    <!-- Trigger/Open The Modal -->
    <header>
        <img class="imggg" src="~/logo.png" height="120px" width="220px" style="margin-top:-28px;" style="z-index:100000" />
        @if (Session["user_id"] == null && Session["doctor_id"] == null)
        {
        <button class="button formButton" id="formB">Sign In</button>
        <button id="myBtn" class="button formButton">Sign Up</button>
        }
@if (Session["user_id"] != null || Session["doctor_id"] != null)
{
        <button id="myBtn1" class="button formButton"><a href="~/Home/logout" style="text-decoration:none;color:black;">Logout</a></button>

        }
        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>

                <form class="form-style-9" action="/Home/etechcare" method="POST">
                    <p class="sign">Sign Up</p>
                    <ul>
                        <li>

                            <input type="text" name="name" id="name" class="field-style field-split align-left" placeholder="Name" />
                        </li>
                        <li>

                            <input type="email" name="email" id="email" class="field-style field-split align-right" placeholder="Email" />

                        </li>
                        <li>
                            <input type="password" name="password" id="password" class="field-style field-split align-left" placeholder="Password" />
                        </li>
                        <li>
                            <input type="password" name="cpassword" id="cpassword" class="field-style field-split align-left" placeholder="Confirm Password" />
                        </li>
                        <li>
                            <select class="field-style city" name="city" id="city">
                                <option value="City" hidden>City</option>
                                <option value="Abbottabad"> Abbottabad </option>
                                <option value="Bahawalpur"> Bahawalpur </option>
                                <option value="Charsada"> Charsada </option>
                                <option value="Chakwal"> Chakwal </option>
                                <option value="Dera Ghazi Khan"> Dera Ghazi Khan </option>
                                <option value="Daska"> Daska</option>
                                <option value="Dera Ismail Khan"> Dera Ismail Khan</option>
                                <option value="Faisalabad"> Faisalabad </option>
                                <option value="Gujranwala"> Gujranwala </option>
                                <option value="Gujrat"> Gujrat </option>
                                <option value="Hyderabad"> Hyderabad </option>
                                <option value="Hafizabad"> Hafizabad </option>
                                <option value="Islamabad"> Islamabad </option>
                                <option value="Jhang"> Jhang </option>
                                <option value="Jhelum"> Jhelum</option>
                                <option value="Karachi"> Karachi</option>
                                <option value="Kasur"> Kasur </option>
                                <option value="Kamoke"> Kamoke </option>
                                <option value="Khairpur"> Khairpur </option>
                                <option value="Lahore"> Lahore </option>
                                <option value="Larkana"> Larkana </option>
                                <option value="Multan"> Multan </option>
                                <option value="Muzaffargarh"> Muzaffargarh </option>
                                <option value="Muridke"> Muridke </option>
                                <option value="Peshawar"> Peshawar</option>
                                <option value="Quetta"> Quetta</option>
                                <option value="Rawalpindi"> Rawalpindi</option>
                                <option value="Rahim Yar Khan"> Rahim Yar Khan</option>
                                <option value="Sialkot"> Sialkot </option>
                                <option value="Sargodha"> Sargodha </option>
                                <option value="Sukkur"> Sukkur </option>
                                <option value="Shekhupura"> Shekhupura </option>
                                <option value="Sahiwal"> Sahiwal </option>

                            </select>
                        </li>
                        <li>
                            <select class="field-style city" name="signupas" id="signupas" required>
                                <option value="SignUp" hidden>SignUp As</option>
                                <option value="Doctor"> Doctor </option>
                                <option value="Patient"> Patient </option>



                            </select>
                        </li>

                        <li>
                            <button class="submit" name="btnsave" id="btnsave">Submit</button>
                        </li>
                    </ul>
                </form>
            </div>

        </div>

        <script>
            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal


            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>




        @if (Session["doctor_id"] != null)
        {
            <button class="button"><a href="~/Home/docprofile" style="text-decoration:none; color:black;">Profile</a></button>
        }
        <button class="button"><a href="~/Home/contactus" style="text-decoration:none; color:black;">Contact Us</a></button>
        <button class="button"><a href="~/Home/aboutus" style="text-decoration:none; color:black;">About Us</a></button>
@if (Session["user_id"] != null)
{   <button class="button"><a href="~/Home/services" style="text-decoration:none; color:black;">Services</a></button>}
        <button class="button"><a href="~/Home/etechcare" style="text-decoration:none; color:black;">Home</a></button>
    </header>

    <div class="i">

    </div>
    <div class="ontext">
        <p class="quality">QUALITY CARE</p><br />
        <p class="health"> Your Health Care Partner</p>
        <p class="line">____________</p>
        <p class="info"><font face="Georgia" color="black">We help you by providing all the information needed to understanding and research your symptoms diagnose the disease through them and further more, choose a physician to seek medical treatment.</font></p>

        <button class="learn"><a href="~/Home/aboutus" style="text-decoration:none; color:white;">Learn More</a></button>
    </div>

    </div>


    <div class="first">
        <div class="img">
            <img src="~/healthcare.png" height="90" width="90" alt="">
        </div>
        <span class="numone">Advanced Technology</span>
        <p class="parao"><font face="arial">Continuous technological<br> developments in healthcare have<br /> saved countless lives and improved <br />the quality of life for even more.</font></p>
    </div>
    <div class="second">
        <div class="img">
            <img src="~/doc.png" height="90" width="90" alt="">
        </div>
        <span class="numtwo">Find A Doctor</span>
        <p class="parao"><font face="arial"> Now it’s easier <br>for you to search our primary care physicians and specialists to find <br />the one who’s right for you.</font></p>
    </div>
    <div class="third">
        <div class="img">
            <img src="~/ser.png" height="90" width="90" alt="">
        </div>
        <span class="numtwo">Join The Team</span>
        <p class="parao">
            <font face="arial">
                Join us among <br> many other highly qualified <br />physicians and get
                more people<br /> to know you across the country.
            </font>
        </p>
    </div>
    <div class="fourth">
        <div class="imgg">
            <img src="~/van.png" height="90" width="90" alt="">
        </div>
        <span class="numthree">Disease Predictor</span>
        <p class="parao"><font face="arial">Get your illness<br> diagnosed by selecting the<br /> symptoms that may be<br /> visible in you.</font></p>
    </div>

    <div class="lastimg">
        <img src="~/img3.jpg" height="500" width="700" alt="">
    </div>

    <div class="lastpara">
        <p>

            Many people worry about getting most out of a visit<br> to the doctor, because of the fear of not understanding the information that is given <br> or simply due to the lack of confidence to question a diagnosis.
        </p>
        <p>
            E-TechCare alleviates this worry by arming the users with all the information needed<br> to understand their symptoms.It is a free tool that can help them research their own symptoms,<br> diagnose the disease, and further more, get suggestions to choose a<br> physician to seek medical treatment.

        </p>



    </div>

    <form id="form1" class="form-style-91" style="margin-left:1260px" style="z-index:0;"  action="/Home/signin" method="POST">

        <ul>
            <li>

                <input type="email" name="email" class="field-style field-split align-left" placeholder="Email" />
            </li>
            <li>

                <input type="password" name="password" class="field-style field-split align-right" placeholder="Password" />
            </li>
            <li>
                <a href="~/Home/forgot" class="forgot91">Fogot Your Password?</a>
                <button type="submit" id="submit">Log In</button>
            </li>


        </ul>
    </form>

    <footer>

        <img class="imgggg" src="~/logo.png" height="85px" width="160px" style="margin-left:80px;" />
        <div class="imgfoter" style="margin-top:-90px;">
            <a href="https://facebook.com/etechcare.web" target="_blank">
                <img src="~/fb.png" height="25px" width="25px">
            </a>

            <a href="info.etechcare@gmail.com" target="_blank">
                <img src="~/gmail.png" height="27px" width="25px">
            </a>

            <a href="https://twitter.com/etechcare_web" target="_blank">
                <img src="~/twi.png" height="25px" width="25px">
            </a>

            <a href="https://instagram.com/etechcare_web" target="_blank">
                <img src="~/insta.png" height="25px" width="25px">
            </a>
        </div>
        <span class="copy" style="padding-top:0px;"><font face="arial"><a href="~/Home/terms_and_conditions" style="color:black;margin-left:220px;">Terms & Conditions</a> Copyright &copy; etechcare.com 2018</font></span>
    </footer>









</body>
</html>