﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Forgot Pssword</title>
    <link rel="stylesheet" type="text/css" href="forgot.css">
    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
    @Styles.Render("~/Content/forgot.css")
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")


</head>
<body>
    <header>
        <img class="imggg" src="~/logo.png" height="120px" width="220px" />


        <button class="button"><a href="~/Home/contactus" style="text-decoration:none;color:black;">Contact Us</a></button>
        <button class="button"><a href="~/Home/aboutus" style="text-decoration:none;color:black;">About Us</a></button>
       
        <button class="button"><a href="~/Home/etechcare" style="text-decoration:none;color:black;">Home</a></button>

    </header>
    <div class="f">
        <form class="fo" id="formhide" action="/Home/reset" method="POST">
            <h1 class="forgot">Forgot Password</h1>
            <input type="text" name="email" placeholder="Email" class="em">
            <button type="submit" class="formm" id="hidenid">Submit</button>

        </form>


    </div>

    <br><br><br><br><br><br><br>
    <footer>

        <img class="imgggg" src="~/logo.png" height="85px" width="160px" />
        <div class="end">
            <div class="imgfoter">
                <a href="https://facebook.com/etechcare.web" target="_blank">
                    <img src="~/fb.png" height="25px" width="25px">
                </a>

                <a href="info.etechcare@gmail.com" target="_blank">
                    <img src="~/gmail.png" height="27px" width="25px">
                </a>

                <a href="https://twitter.com/etechcare_web" target="_blank">
                    <img src="~/twi.png" height="25px" width="25px">
                </a>

                <a href="https://instagram.com/etechcare_web" target="_blank">
                    <img src="~/insta.png" height="25px" width="25px">
                </a>
            </div>
            <span class="copy" style="padding-top:0px; margin-left:-50px;"><font face="arial"><a href="~/Home/terms_and_conditions" style="color:black;margin-left:-215px;">Terms & Conditions</a> Copyright &copy; etechcare.com 2018</font></span>
        </div>
    </footer>
</body>
</html>