﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Services</title>
    <link rel="stylesheet" type="text/css" href="services.css">
    <link rel="stylesheet" type="text/css" href="servicessec.css">
    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
    @Styles.Render("~/Content/services.css")
    @Styles.Render("~/Content/servicessec.css")
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")


</head>
<body>
    <header>
        <img class="imggg" src="~/logo.png" height="125px" width="200px"/>
        <button id="myBtn1" class="button formButton"><a href="~/Home/logout" style="text-decoration:none;color:black;">Logout</a></button>



        <button class="button"><a href="~/Home/contactus" style="text-decoration:none;color:black;">Contact Us</a></button>
        <button class="button"><a href="~/Home/aboutus" style="text-decoration:none;color:black;">About Us</a></button>
        <button class="button"><a href="~/Home/etechcare" style="text-decoration:none;color:black;">Home</a></button>
    </header>


    <div class="divc">
        <h2>How can we help you?</h2>
        <button class="btn" id="myBtn">Doctor Finder</button>
        <form class="btnform" action="/Symptoms/symptoms" method="get"><button class="btnn" type="submit">Disease Diagnosis</button></form>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>

            <form class="form-style-9" action="/Symptoms/doctors" method="POST">
                <p class="sign">Doctor Finder</p>
                <ul>
                    <li>

                        <input list="browsers" class="inp" placeholder="Enter your disease" name="dname">
                        <datalist id="browsers">
                            <option value="" hidden>-- Select --</option>
                            <option value="1">
                                Cataract
                            </option>
                            <option value="2">
                                Chicken Pox
                            </option>
                            <option value="3"> Cholera</option>
                            <option value="4"> Dengue Fever</option>
                            <option value="5"> Diarrhea</option>
                            <option value="6"> Diphtheria</option>
                            <option value="7"> Dysentery</option>
                            <option value="8"> Food Poisioning</option>
                            <option value="9"> Hepatitis</option>
                            <option value="10"> Malaria</option>
                            <option value="11"> Measles</option>
                            <option value="12"> Mumps</option>
                            <option value="13"> Polio</option>
                            <option value="14"> Rabies</option>
                            <option value="15"> Small Pox</option>
                            <option value="16"> Tetanus</option>
                            <option value="17"> Tubercolisis</option>
                            <option value="18">Typhoid Fever</option>
                            <option value="19"> Whooping Cough</option>
                            <option value="20"> Yellow Fever</option>
                            <option value="21"> HIV AIDS</option>
                            <option value="22"> Thyroid Glands </option>
                            <option value="23"> Diabates</option>
                            <option value="24"> Anemia</option>
                            <option value="25"> Paralysis</option>
                            <option value="26"> Stroke</option>
                            <option value="27"> Meningtis </option>
                            <option value="28"> Epilepsy</option>
                            <option value="29"> Scarlet Fever</option>
                            <option value="30"> Hypoglycemia</option>
                            <option value="31"> Indigestion</option>
                            <option value="32"> Lupus</option>
                            <option value="33"> Malnutrition</option>
                            <option value="34"> Ear Infection</option>
                            <option value="35"> Breast Cancer</option>
                            <option value="36"> Brain Tumor</option>
                            <option value="37"> Eye Cancer</option>
                            <option value="38"> Lung Cancer</option>
                            <option value="39"> Liver Cancer</option>
                            <option value="40"> Skin Cancer</option>
                            <option value="41"> Colon Cancer</option>
                            <option value="42"> Blood Cancer</option>
                            <option value="43"> Rheumatic Fever</option>
                            <option value="44">  Hypertension</option>
                            <option value="45"> Angina</option>
                            <option value="46"> Heart Failure</option>
                            <option value="47"> Pneumonia</option>
                            <option value="48"> Asthama</option>
                            <option value="49"> Hay Fever</option>
                            <option value="50"> Influenza</option>
                            <option value="51"> Bronchitis</option>
                            <option value="52"> Dehydration</option>
                            <option value="53"> Pleurisy</option>
                            <option value="54"> Ulcerative Colitis</option>
                            <option value="55"> Piles</option>
                            <option value="56"> Fungal Infection</option>
                            <option value="57"> Ebola Virus</option>
                            <option value="58"> Appendictis</option>
                            <option value="59"> Hernia</option>
                            <option value="60"> Jaundice</option>
                            <option value="61"> Nephritis</option>
                            <option value="62"> Urinary tract Infection</option>
                            <option value="63"> Intestinal Infection</option>
                            <option value="64"> Skin Allergy</option>
                            <option value="65"> Allergic Reaction</option>
                            <option value="66"> Arthritis</option>
                            <option value="67"> Eczema</option>
                            <option value="68"> Kidney Failure</option>
                            <option value="69"> Common Cold</option>
                            <option value="70"> Scabies</option>
                            <option value="71"> Poisioning</option>
                            <option value="22"> Sun Stroke</option>
                        </datalist>
                    </li>

                    <li>
                        <button type="submit" class="submit">Find Me A Doctor</button>
                    </li>
                </ul>
            </form>
        </div>

    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal


        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <footer>

        <img class="imgggg" src="~/logo.png" height="85px" width="160px" />
        <div class="end">
            <div class="imgfoter">
                <a href="https://facebook.com/etechcare.web" target="_blank">
                    <img src="~/fb.png" height="25px" width="25px">
                </a>

                <a href="info.etechcare@gmail.com" target="_blank">
                    <img src="~/gmail.png" height="27px" width="25px">
                </a>

                <a href="https://twitter.com/etechcare_web" target="_blank">
                    <img src="~/twi.png" height="25px" width="25px">
                </a>

                <a href="https://instagram.com/etechcare_web" target="_blank">
                    <img src="~/insta.png" height="25px" width="25px">
                </a>
            </div>
            <span class="copy" style="padding-top:0px;"><font face="arial"><a href="~/Home/terms_and_conditions" style="color:black;">Terms & Conditions</a> Copyright &copy; etechcare.com 2018</font></span>
        </div>
    </footer>
</body>
</html>
