﻿@model ETechCare.Models.UserDTO
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Doctor Details</title>
    <link rel="stylesheet" type="text/css" href="docDetails.css">
    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
    @Styles.Render("~/Content/docDetailss.css")
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")




</head>
<body>
    <header>
        <img class="imggg" src="~/logo.png" height="120px" width="220px" />
        <button id="myBtn11" class="button formButton"><a href="~/Home/logout" style="text-decoration:none;color:black;">Logout</a></button>


        <button class="button"><a href="~/Home/contactus" style="text-decoration:none;color:black;">Contact Us</a></button>
        <button class="button"><a href="~/Home/aboutus" style="text-decoration:none;color:black;">About Us</a></button>
@if (Session["user_id"] != null)
{   <button class="button"><a href="~/Home/services" style="text-decoration:none;color:black;">Services</a></button>}
        <button class="button"><a href="~/Home/etechcare" style="text-decoration:none;color:black;">Home</a></button>
    </header>


    <div class="formdoc">

        <div class="intdiv">

            <p class="s-1 hide " style="text-transform:uppercase;">
                Dr. @Model.Name
            </p>

            <div class="imagedp hide">
                <label>

                    @if (Model.pic == "")
                    {
                        <img id="blah" src="~/dp.png" alt="your image" class="im" width="200px" height="200px" /><br><br>
                    }
                    else
                    {
                        <img id="blah" src="@Url.Content("~/Profiles/" + @Model.pic)" alt="your image" class="im" width="200px" height="200px" /><br><br>
                    }




                </label>


            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="greyy">
                <span class="s-2">
                    Email (Professional)
                </span>
                <br><br><br>
                <span class="hidee hide">
                    @Model.cemail
                </span><br><br>
            </div><br>

            <div class="greyy">
                <span class="s-2">
                    Specialization
                </span>
                <br><br><br>
                <span class="hidee hide">
                    @Model.specialization
                </span><br><br>
            </div><br>

            <div class="greyy">
                <span class="s-2">
                    Location
                </span>
                <br><br><br>
                <span class="hidee hide">
                    @Model.city
                </span><br><br>
            </div><br>

            <div class="greyy">
                <span class="s-2">
                    Contact Number
                </span>
                <br><br><br>
                <span class="hidee hide">
                    @Model.number
                </span><br><br>
            </div><br>

            <div class="greyy">
                <span class="s-2">
                    Availability hours
                </span>
                <br><br><br>
                <span class="hidee hide">
                    @Model.time
                </span><br><br>
            </div><br>

            <div class="greyy">
                <span class="s-2">
                    Fee
                </span>
                <br><br><br>
                <span class="hidee hide">
                    PKR @Model.fee
                </span><br><br>
            </div><br>
            <div class="greyy">
                <span class="s-2">
                    Hospital/Clinic
                </span>
                <br><br><br>
                <span class="hidee hide">
                    @Model.hospital
                </span><br><br>
            </div> <br>
            <div class="greyy">
                <span class="s-2">
                    Address
                </span>
                <br><br><br>
                <span class="hidee hide">
                    @Model.address
                </span>
            </div>

        </div>
    </div>



    <footer>

        <img class="imgggg" src="~/logo.png" height="85px" width="160px" />
        <div class="end">
            <div class="imgfoter">
                <a href="https://facebook.com/etechcare.web" target="_blank">
                    <img src="~/fb.png" height="25px" width="25px">
                </a>

                <a href="info.etechcare@gmail.com" target="_blank">
                    <img src="~/gmail.png" height="27px" width="25px">
                </a>

                <a href="https://twitter.com/etechcare_web" target="_blank">
                    <img src="~/twi.png" height="25px" width="25px">
                </a>

                <a href="https://instagram.com/etechcare_web" target="_blank">
                    <img src="~/insta.png" height="25px" width="25px">
                </a>
            </div>
            <span class="copy" style="padding-top:0px; margin-left:-50px;"><font face="arial"><a href="~/Home/terms_and_conditions" style="color: black; margin-left: -213px; "">Terms & Conditions</a> Copyright &copy; etechcare.com 2018</font></span>
        </div>
    </footer>
</body>
</html>