
body {
	padding: 0;
	margin: 0;
	background-color: #E4E4E4;
}
.button {     
    background-color: Transparent;
    color: black;
    border: 2px #E4E4E4;
    padding: 25px 35px; 
    font-size: 15px;
    float: right;
    font-weight: bold; 
    font-family: Arial;  
}
.button:hover {
    background-color: #1E90FF;
}



header {
    
    background-color: #87CEFA;
    font-size: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 8.5%;
    z-index: 10000;
    

}

footer {
    
    
    color: white;
    background-color: #87CEFA;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    margin-bottom: -5100px;
    position: absolute;
  
    

    
}
.imgfoter{
    padding-top: 20px;
    margin-left: 1300px;
    
}
.copy{
    color: black;
    padding-top: 30px;
    margin-left: 807px;
    font-size: 15px;
    font-weight: bold;

}
.ontext { 
   position: absolute; 
   top: 150px; 
   left: 65%; 
   width: 500px;
   height: 200px; 
   
    padding: 30px 30px 20px;
    box-sizing: border-box;
    margin-bottom: 1000px;
}

.img{
	margin-top: 30px;
	margin-left: 80px;
}
.imgg{
	margin-top: 30px;
	margin-left: 80px;
    
}


.sign{

    color: #1E90FF;
    font-size: 40px;
    font-family:Sans-serif ;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 170px;
   
    
}
.imggg{
    margin-left: 70px;
    float: left;
}
.form-style-9{
    width: 500px;
   height: 500px;
    background: #F0F8FF;
    z-index: 10000px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 1px 1px 4px white;
    border-radius: 10px;
    border: 6px solid #3498db;
    
}

.form-style-9 ul li{
    display: block;
    margin-left: 70px;
    margin-bottom: 15px;
    min-height: 35px;
    width: 300px;
}
.form-style-9 ul li  .field-style{
     
    padding: 5px;
    outline: none;
    border: 1px solid #B0CFE0;
    

}.form-style-9 ul li  .field-style:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
    width: 90%;
}
.form-style-9 ul li .city{
    width: 94.5%;
    color:  #696969;
}
.submit{
color: #E4E4E4;
 height: 40px;
 width: 100px;
 background-color:#1E90FF;
 font-size: 15px;
 font-weight: bold;
 font-family:Sans-serif ;
 margin-left: 100px;
 margin-top: 10px;
 border:5px #1E90FF;
 border-radius: 5px;

}
.submit:hover {
    background-color: #1E90FF;
}











.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: transparent;
    margin: auto;
    padding: 20px;
   
    width: 34%;
}




.i{
    background-image: url("2.jpg");
    width: 100%;
    height: 500px;

}










.form-style-91{
    width: 300px;
   height: 105px;
    background: #F0F8FF;
    position: absolute;
    margin-top: 80px;
    box-shadow: 1px 1px 4px white;
    border-radius: 8px;
    border: 4px solid #3498db;
    margin-left: 1270px;
    display: none;
    
}

.form-style-91 ul li{
    display: block;
    margin-left: -15px;
    margin-bottom: 0px;
    min-height: 35px;
    margin-top: -5px;
    width: 270px;

}
.form-style-91 ul li  .field-style{
     
    padding: 5px;
    outline: none;
    border: 1px solid #B0CFE0;
    

}.form-style-91 ul li  .field-style:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
.form-style-91 ul li .field-split{
    width: 90%;
}


.forgot91{

    font-family:Sans-serif;
    font-weight: bold;
    color: #1E90FF;
    text-decoration: none;
    position: absolute;
    float: left;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 2px;
    
}
#submit{
  border-radius: 3px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  background:#1E90FF;
  padding: 6px;
  text-decoration: none;
  margin-left: 175px;
 width: 80px;
  border-color: #1E90FF;
}
.formsym{
	width: 1000px;
	height: 5650px;
	background-color: white;
	
	margin-left: 310px;
	position: absolute;
	margin-top: 150px;
}

.lineone{
font-weight: bold;
position: absolute;
margin-top: 230px;
font-family: arial;
}
.linetwo{
	position: absolute;
	font-family: arial;
	color: red;
	margin-top: 260px;
	font-weight: bold;
	

}
.divclass{
	
	margin-right: 300px;
	margin-left: 100px;
	position: absolute;
	width: 700px;
	height: 1000px;
}
.head{

	color: #1E90FF; 
	font-family: Arial;
	font-weight: bold;
	position: absolute;
	font-size: 30px;
	margin-top: 100px;
	margin-left: 250px;


}


.pain-1{
	margin-left: 0px;
	font-family: arial;
	font-size: 17px;
	font-weight: bold;
	margin-top: 0px;
	display: inline;
}
.pain-2{
margin-left: 0px;
	font-family: arial;
	font-size: 17px;

	margin-top: 0px;
}
.star{
	color: red;
	display: inline;
	font-size: 20px;

}
.divhide{
	position: relative;
	width: 650px;
	height: 520px;
	background-color: white;
	margin-left: 0px;
	display: none;
	margin-top: 20px;
	border: 2px solid #1E90FF;

}
.divhide-2{
	position: relative;
	width: 650px;
	height: 190px;
	background-color: white;
	margin-left: 0px;
	display: none;
	margin-top: 20px;
	border: 2px solid #1E90FF;

}
.divhide-3{
	position: relative;
	width: 650px;
	height: 280px;
	background-color: white;
	margin-left: 0px;
	display: none;
	margin-top: 20px;
	border: 2px solid #1E90FF;

}
.divhide-4{
	position: relative;
	width: 650px;
	height: 265px;
	background-color: white;
	margin-left: 0px;
	display: none;
	margin-top: 20px;
	border: 2px solid #1E90FF;

}
.divhide-5{
	position: relative;
	width: 650px;
	height: 510px;
	background-color: white;
	margin-left: 0px;
	display: none;
	margin-top: 20px;
	border: 2px solid #1E90FF;

}
.divhide-6{
    position: relative;
    width: 650px;
    height: 190px;
    background-color: white;
    margin-left: 0px;
    display: none;
    margin-top: 20px;
    border: 2px solid #1E90FF;

}
.linei{
	
position: absolute;
font-size: 17px;
font-family: arial;
margin-left: 15px;
margin-top: 15px;
}

.lineii{
	
position: absolute;
font-size: 17px;
font-family: arial;
margin-left: 15px;
margin-top: 55px;
}



.containerf {
    
    position: absolute;
    padding-left: 50px;
    margin-top: 350px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.containerf input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


.containerf input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.containerf input:checked ~ .checkmark:after {
    display: inline;
}

.containerf .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.widthclass{
    width: 800px;
}

.containerff {
     width: 400px;
    position: absolute;
    padding-left: 0px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.containerff input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin-left: -50px;
}


.containerff input:checked ~ .checkmark-2 {
    background-color: #2196F3;
}
.checkmark-2:after {
    content: "";
    position: absolute;
    display: none;
}

.containerff input:checked ~ .checkmark-2:after {
    display: inline;
}

.containerff .checkmark-2:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.container {
    width: 400px;
    position: absolute;
    padding-left: 0px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmarkk {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin-left: -50px;
}


.container input:checked ~ .checkmarkk {
    background-color: #2196F3;
}
.checkmarkk:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmarkk:after {
    display: inline;
}

.container .checkmarkk:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.set-1{
	position: absolute;
	margin-top: -350px;
	margin-left: 20px;
	width: 400px;
}
.set-2{
	position: absolute;
	margin-top: -310px;
	margin-left: 20px;
	width: 400px;
}
.set-3{
	position: absolute;
	margin-top: -270px;
	margin-left: 20px;
	width: 400px;
}
.set-4{
	position: absolute;
	margin-top: -230px;
	margin-left: 20px;
	width: 400px;
}
.set-5{
	position: absolute;
	margin-top: -190px;
	margin-left: 20px;
	width: 400px;
}
.set-6{
	position: absolute;
	margin-top: -150px;
	margin-left: 20px;
	width: 400px;
}
.set-7{
	position: absolute;
	margin-top: -110px;
	margin-left: 20px;
	width: 400px;
}
.set-8{
	position: absolute;
	margin-top: -70px;
	margin-left: 20px;
	width: 400px;
}
.set-9{
	position: absolute;
	margin-top: -30px;
	margin-left: 20px;
	width: 400px;
}
.set-10{
	position: absolute;
	margin-top: 10px;
	margin-left: 20px;
	width: 400px;
}
.set-11{
	position: absolute;
	margin-top: 50px;
	margin-left: 20px;
	width: 400px;
}

.second{
	padding-left: 0px;
    width: 300px;
    height: 300px;
    background-color: pink;
}




.head-1{
	margin-left: 0px;
	font-family: arial;
	font-size: 17px;
	font-weight: bold;
	margin-top: -580px;
	position: relative;
	width: 300px;
	
}
.head-2{
	margin-left: 0px;
	font-family: arial;
	font-size: 17px;
	font-weight: bold;
	margin-top: -580px;
	position: relative;
	width: 300px;
	
}