﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Symptoms</title>
    <link rel="stylesheet" type="text/css" href="sym.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
    @Styles.Render("~/Content/sym.css")
    @Scripts.Render("~/Scripts/jquery-3.3.1.min")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

    <script>
        $(document).ready(function () {
            $("#paincb").click(function () {
                $(".divhide").show("fast");
            });
        });

        $(document).ready(function () {
            $("#head").click(function () {
                $(".divhide-2").show("fast");
            });
        });

        $(document).ready(function () {
            $("#cough").click(function () {
                $(".divhide-3").show("fast");
            });
        });
        $(document).ready(function () {
            $("#lump").click(function () {
                $(".divhide-6").show("fast");
            });
        });

        $(document).ready(function () {
            $("#skin").click(function () {
                $(".divhide-4").show("fast");
            });
        });
        $(document).ready(function () {
            $("#swell").click(function () {
                $(".divhide-5").show("fast");
            });
        });
    </script>
</head>
<body>

    <header>
        <img class="imggg" src="~/web.png" height="70px" width="150px" />
        <button id="myBtn" class="button formButton">Logout</button>

        <button class="button">Contact</button>
        <button class="button">About Us</button>
        <button class="button">Home</button>
    </header>

    <form class="formsym">

        <div class="divclass">
            <span class="head">
                Disease Diagnosis
            </span>
            <span class="lineone">
                SELECT THE SYMPTOMS THAT YOU ARE EXPERIENCING
            </span><br>
            <span class="linetwo">
                Note: Please select at least 3 symptoms, other than the * marked, for more accurate results.
            </span>
            <div>
                <label class="containerf">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="head-2">Abnormal discharge</span>
                </label><br><br><br>
            </div>
            <div>
                <label class="containerf">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="head-2">Agitation</span>
                </label><br><br><br>
            </div>
            <div>
                <label class="containerf">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="head-2">Anxiety </span>
                </label><br><br><br>
            </div>
            <div>
                <label class="containerf">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="head-2">Bleeding</span>
                </label><br><br><br>
            </div>
            <div>
                <label class="containerf">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="head-2">Bloody stools</span>
                </label><br><br><br>
            </div>
            <div>
                <label class="containerf">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="head-2">Bloody urine</span>
                </label><br><br><br>
            </div>
            <div>
                <label class="containerf">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    <span class="head-2">Breathlessness <p class="star">*</p></span>
                </label><br><br><br>
            </div>
            <label class="containerf">
                <input type="checkbox">
                <span id="skin" class="checkmark"></span>
                <span class="head-2">Change in skin color</span>
                <div class="divhide-4">
                    <span class="linei">What change do you see?</span><br><br>
                    <div class="set-1">
                        <label class="containerf">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <span class="pain-1">Pale skin</span>
                        </label>
                    </div>
                    <div class="set-2">
                        <label class="containerf">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <span class="pain-1">Blue skin</span>
                        </label>
                    </div>
                    <div class="set-3">
                        <label class="containerf">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <span class="pain-1">Yellow skin</span>
                        </label>
                    </div>
                    <div class="set-4">
                        <label class="containerf">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <span class="pain-1">Red skin</span>
                        </label>
                    </div>
                    <div class="set-5">
                        <label class="containerf">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <span class="pain-1">Grey skin</span>
                        </label>
                    </div>
                </div>
                <div>
                    <label class="containerff">
                        <input type="checkbox">
                        <span class="checkmark-2"></span>
                        <span class="head-2">Chills</span>
                    </label><br><br>
                </div>
                <div>
                    <label class="containerff">
                        <input type="checkbox">
                        <span class="checkmark-2"></span>
                        <span class="head-2">Cloudy eye</span>
                    </label><br><br>
                </div>
                <div>
                    <label class="containerff">
                        <input type="checkbox">
                        <span class="checkmark-2"></span>
                        <span class="head-2">Cold skin</span>
                    </label><br><br>
                </div>

                <div>
                    <label class="containerff">
                        <input type="checkbox">
                        <span class="checkmark-2"></span>
                        <span class="head-2">Color/ Shape changing Moles</span>
                    </label><br><br>
                </div>
                <div>
                    <label class="containerff">
                        <input type="checkbox">
                        <span class="checkmark-2"></span>
                        <span class="head-2">Confusion</span>
                    </label><br><br>
                </div>
                <div>
                    <label class="containerff">
                        <input type="checkbox">
                        <span class="checkmark-2"></span>
                        <span class="head-2">Constipation</span>
                    </label><br><br>
                </div>

                <label class="containerff">
                    <input type="checkbox">
                    <span id="cough" class="checkmark-2"></span>
                    <span class="head-2">Cough</span>
                    <div class="divhide-3">
                        <span class="linei">Describe your cough:</span><br><br>
                        <div class="set-1">
                            <label class="containerf">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span class="pain-1">Mucous cough</span>
                            </label>
                        </div>
                        <div class="set-2">
                            <label class="containerf">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span class="pain-1">Dry cough</span>
                            </label>
                        </div><br>
                        <span class="lineii">How long have you been experiencing it?</span><br><br><br><br>
                        <div class="set-1">
                            <label class="containerf">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span class="pain-1">Less than 3 weeks</span>
                            </label>
                        </div>
                        <div class="set-2">
                            <label class="containerf">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span class="pain-1">3 weeks or more</span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Cracked Skin</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Dark urine</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Desire to eat Nonfood items </span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Diarrhea</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Difficulty in moving a limb </span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Dizziness</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Drooling</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Dry eyes</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Dry mouth</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Dry skin</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Earache</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Faded/ Blurry vision</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Fatigue</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Fever <p class="star">*</p></span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Flu <p class="star">*</p></span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Foaming at mouth</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Frequent stools</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Frequent urine</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Greyish-white spots on the inside of cheeks</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Hair Loss</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Heartburn</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Hunger</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Infrequent urine</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Insomnia</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="containerff">
                            <input type="checkbox">
                            <span id="head" class="checkmark-2"></span>
                            <span class="head-1">Itching</span>
                            <div class="divhide-2">
                                <span class="linei">Do you experience the following too? (Select all that are appropriate):</span><br><br>
                                <div class="set-1">
                                    <label class="containerf">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                        <span class="pain-1">Red spots</span>
                                    </label>
                                </div>
                                <div class="set-2">
                                    <label class="containerf">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                        <span class="pain-1">Blisters</span>
                                    </label>
                                </div>
                                <div class="set-3">
                                    <label class="containerf">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                        <span class="pain-1">Rashes</span>
                                    </label>
                                </div>
                            </div>
                            <div>
                                <label class="container">
                                    <input type="checkbox">
                                    <span class="checkmark-2"></span>
                                    <span class="head-2">Itchy throat</span>
                                </label><br><br>
                            </div>
                            <div>
                                <label class="container">
                                    <input type="checkbox">
                                    <span class="checkmark-2"></span>
                                    <span class="head-2">Loss of appetite</span>
                                </label><br><br>
                            </div>
                            <div>
                                <label class="containerff">
                                    <input type="checkbox">
                                    <span id="lump" class="checkmark-2"></span>
                                    <span class="head-1">Lumps</span>
                                    <div class="divhide-6">
                                        <span class="linei">Where have the lumps appeared?</span><br><br>
                                        <div class="set-1">
                                            <label class="containerf">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                                <span class="pain-1">On Chest</span>
                                            </label>
                                        </div>
                                        <div class="set-2">
                                            <label class="containerf">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                                <span class="pain-1">On Eyelid</span>
                                            </label>
                                        </div>
                                        <div class="set-3">
                                            <label class="containerf">
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                                <span class="pain-1">Other Parts of body</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="containerff">
                                            <input type="checkbox">
                                            <span class="checkmark-2"></span>
                                            <span class="head-2">Nausea <p class="star">*</p></span>
                                        </label><br><br>
                                    </div>
                                    <div>
                                        <label class="containerff">
                                            <input type="checkbox">
                                            <span class="checkmark-2"></span>
                                            <span class="head-2">Nose bleeding</span>
                                        </label><br><br>
                                    </div>
                                    <label class="containerff">
                                        <input type="checkbox">
                                        <span id="paincb" class="checkmark-2"></span>
                                        <span class="pain-1">Pain <p class="star">*</p></span>
                                        <div class="divhide">
                                            <span class="linei">	Describe the pain (Select all that are appropriate):</span><br><br>
                                            <div class="set-1">
                                                <label class="containerf">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Headache</span>
                                                </label>
                                            </div>
                                            <div class="set-2">
                                                <label class="containerf">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Stomachache</span>
                                                </label>
                                            </div>
                                            <div class="set-3">
                                                <label class="containerf">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Backache</span>
                                                </label>
                                            </div>
                                            <div class="set-4">
                                                <label class="containerf">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Abdominal pain</span>
                                                </label>
                                            </div>
                                            <div class="set-5">
                                                <label class="containerf">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Joint pain</span>
                                                </label>
                                            </div>
                                            <div class="set-6">
                                                <label class="containerf">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Muscle cramps</span>
                                                </label>
                                            </div>
                                            <div class="set-7">
                                                <label class="containerf">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Throat pain</span>
                                                </label>
                                            </div>
                                            <div class="set-8">
                                                <label class="containerf">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Shooting pain</span>
                                                </label>
                                            </div>
                                            <div class="set-9">
                                                <label class="containerf">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Shoulder pain</span>
                                                </label>
                                            </div>
                                            <div class="set-10">
                                                <label class="containerf">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Eye pain</span>
                                                </label>
                                            </div>
                                            <div class="set-11">
                                                <label class="containerf">
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Chest pain</span>
                                                </label>
                                            </div>

                                        </div>
                                        <div>
                                            <label class="containerff">
                                                <input type="checkbox">
                                                <span class="checkmark-2"></span>
                                                <span class="head-2">Rapid heart rate</span>
                                            </label><br><br>
                                        </div>
                                        <div>
                                            <label class="containerff">
                                                <input type="checkbox">
                                                <span class="checkmark-2"></span>
                                                <span class="head-2">Seizure</span>
                                            </label><br><br>
                                        </div>
                                        <div>
                                            <label class="containerff">
                                                <input type="checkbox">
                                                <span class="checkmark-2"></span>
                                                <span class="head-2">Slow heart rate</span>
                                            </label><br><br>
                                        </div>
                                        <div>
                                            <label class="containerff">
                                                <input type="checkbox">
                                                <span class="checkmark-2"></span>
                                                <span class="head-2">Sore throat</span>
                                            </label><br><br>
                                        </div>
                                        <div>
                                            <label class="containerff">
                                                <input type="checkbox">
                                                <span class="checkmark-2"></span>
                                                <span class="head-2">Stiffness</span>
                                            </label><br><br>
                                        </div>
                                        <div>
                                            <label class="containerff">
                                                <input type="checkbox">
                                                <span class="checkmark-2"></span>
                                                <span class="head-2">Sweating</span>
                                            </label><br><br>
                                        </div>
                                        <div>
                                            <label class="container">
                                                <input type="checkbox">
                                                <span id="swell" class="checkmark-2"></span>
                                                <span class="head-2">Swelling</span>
                                                <div class="divhide-5">
                                                    <span class="linei">Describe the swelling (Select all that are appropriate):</span><br><br>
                                                    <div class="set-1">
                                                        <label class="containerf">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen neck</span>
                                                        </label>
                                                    </div>
                                                    <div class="set-2">
                                                        <label class="containerf">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen tongue</span>
                                                        </label>
                                                    </div>
                                                    <div class="set-3">
                                                        <label class="containerf">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen joints</span>
                                                        </label>
                                                    </div>
                                                    <div class="set-4">
                                                        <label class="containerf">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen armpits</span>
                                                        </label>
                                                    </div>
                                                    <div class="set-5">
                                                        <label class="containerf">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen face</span>
                                                        </label>
                                                    </div>
                                                    <div class="set-6">
                                                        <label class="containerf">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen stomach</span>
                                                        </label>
                                                    </div>
                                                    <div class="set-7">
                                                        <label class="containerf">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen skin</span>
                                                        </label>
                                                    </div>
                                                    <div class="set-8">
                                                        <label class="containerf">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen feet </span>
                                                        </label>
                                                    </div>
                                                    <div class="set-9">
                                                        <label class="containerf">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen lips</span>
                                                        </label>
                                                    </div>
                                                    <div class="set-10">
                                                        <label class="containerf">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen hands </span>
                                                        </label>
                                                    </div>
                                                    <div class="set-11">
                                                        <label class="containerf">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen legs</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="containerff">
                                                        <input type="checkbox">
                                                        <span class="checkmark-2"></span>
                                                        <span class="head-2">Thirst</span>
                                                    </label><br><br>
                                                </div>
                                                <div>
                                                    <label class="containerff">
                                                        <input type="checkbox">
                                                        <span class="checkmark-2"></span>
                                                        <span class="head-2">Visual disturbance</span>
                                                    </label><br><br>
                                                </div>
                                                <div>
                                                    <label class="containerff">
                                                        <input type="checkbox">
                                                        <span class="checkmark-2"></span>
                                                        <span class="head-2">Vomiting</span>
                                                    </label><br><br>
                                                </div>
                                                <div>
                                                    <label class="containerff">
                                                        <input type="checkbox">
                                                        <span class="checkmark-2"></span>
                                                        <span class="head-2">Weakness <p class="star">*</p></span>
                                                    </label><br><br>
                                                </div>
                                                <div>
                                                    <label class="containerff">
                                                        <input type="checkbox">
                                                        <span class="checkmark-2"></span>
                                                        <span class="head-2">Weight Gain</span>
                                                    </label><br><br>
                                                </div>

                                                <div>
                                                    <label class="containerff">
                                                        <input type="checkbox">
                                                        <span class="checkmark-2"></span>
                                                        <span class="head-2">Weight loss</span>
                                                    </label><br><br>
                                                </div>

                                                <div>
                                                    <label class="containerff">
                                                        <input type="checkbox">
                                                        <span class="checkmark-2"></span>
                                                        <span class="head-2">Wheezing</span>
                                                    </label><br><br>
                                                </div>

                                            </label>
















                                        </div>
    </form>
    </label></div></label></label></div></label></div></form>













    <footer>
        <img class="imggg" src="~/web.png" height="80px" width="160px" />
        <div class="imgfoter">
            <img src="~/fb.png" height="25px" width="25px">
            <img src="~/gmail.png" height="27px" width="25px">
            <img src="~/twi.png" height="25px" width="25px">
            <img src="~/insta.png" height="25px" width="25px">
        </div>
        <span class="copy"><font face="arial">Terms & Conditions Copyright &copy; etechcare.com 2018</font></span>
    </footer>
</body>
</html>
