﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Terms & conditions</title>
  
    @Styles.Render("~/Content/term.css")
    @Styles.Render("~/Content/cond.css")
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    <script>

        $(document).ready(function () {
            $("#formC").click(function () {
                $("#form2").toggle();
            });
        });


    </script>

    <script>

        $(document).ready(function () {
            $("#formB").click(function () {
                $("#form1").toggle();
            });
        });


    </script>



    <script type="text/javascript">
        function Main() {
            var b1 = document.getElementById('btnsave');
            b1.onclick = function () {
                var v1 = document.getElementById('name');
                var v2 = document.getElementById('email');
                var v3 = document.getElementById('password');
                var v4 = document.getElementById('city');
                var v5 = document.getElementById('signupas');

                if (v1.value == '') {
                    alert('Name cant be empty!');
                    return false;
                }
                if (v2.value == '') {
                    alert('Email cant be empty!');
                    return false;
                }
                if (v3.value == '') {
                    alert('Password cant be empty!');
                    return false;
                }
                if (v4.value == 'City') {
                    alert('Select City!');
                    return false;
                }
                if (v5.value == 'SignUp') {
                    alert('Select Role!');
                    return false;
                }
                return true; //Returning true will continue submitting
            };//end of onclick
        }
    </script>

</head>
<body onload="Main();">

    <header>
        <img class="imggg" src="~/web.png" height="70px" width="150px" />
        @if (Session["user_id"] == null && Session["doctor_id"] == null)
        {
            <button class="button formButton" id="formB">Sign In</button>
            <button id="myBtn" class="button formButton">Sign Up</button>
        }
        @if (Session["user_id"] != null || Session["doctor_id"] != null)
        {
            <button id="myBtn1" class="button formButton"><a href="~/Home/logout" style="text-decoration:none;color:black;">Logout</a></button>

        }

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>

                <form class="form-style-9" action="/Home/etechcare" method="POST">
                    <p class="sign">Sign Up</p>
                    <ul>
                        <li>

                            <input type="text" name="name" id="name" class="field-style field-split align-left" placeholder="Name" />
                        </li>
                        <li>

                            <input type="email" name="email" id="email" class="field-style field-split align-right" placeholder="Email" />

                        </li>
                        <li>
                            <input type="password" name="password" id="password" class="field-style field-split align-left" placeholder="Password" />
                        </li>
                        <li>
                            <input type="password" name="cpassword" id="password" class="field-style field-split align-left" placeholder="Confirm Password" />
                        </li>
                        <li>
                            <select class="field-style city" name="city" id="city">
                                <option value="City" hidden>City</option>
                                <option value="Abbottabad"> Abbottabad </option>
                                <option value="Bahawalpur"> Bahawalpur </option>
                                <option value="Charsada"> Charsada </option>
                                <option value="Chakwal"> Chakwal </option>
                                <option value="Dera Ghazi Khan"> Dera Ghazi Khan </option>
                                <option value="Daska"> Daska</option>
                                <option value="Dera Ismail Khan"> Dera Ismail Khan</option>
                                <option value="Faisalabad"> Faisalabad </option>
                                <option value="Gujranwala"> Gujranwala </option>
                                <option value="Gujrat"> Gujrat </option>
                                <option value="Hyderabad"> Hyderabad </option>
                                <option value="Hafizabad"> Hafizabad </option>
                                <option value="Islamabad"> Islamabad </option>
                                <option value="Jhang"> Jhang </option>
                                <option value="Jhelum"> Jhelum</option>
                                <option value="Karachi"> Karachi</option>
                                <option value="Kasur"> Kasur </option>
                                <option value="Kamoke"> Kamoke </option>
                                <option value="Khairpur"> Khairpur </option>
                                <option value="Lahore"> Lahore </option>
                                <option value="Larkana"> Larkana </option>
                                <option value="Multan"> Multan </option>
                                <option value="Muzaffargarh"> Muzaffargarh </option>
                                <option value="Muridke"> Muridke </option>
                                <option value="Peshawar"> Peshawar</option>
                                <option value="Quetta"> Quetta</option>
                                <option value="Rawalpindi"> Rawalpindi</option>
                                <option value="Rahim Yar Khan"> Rahim Yar Khan</option>
                                <option value="Sialkot"> Sialkot </option>
                                <option value="Sargodha"> Sargodha </option>
                                <option value="Sukkur"> Sukkur </option>
                                <option value="Shekhupura"> Shekhupura </option>
                                <option value="Sahiwal"> Sahiwal </option>

                            </select>
                        </li>
                        <li>
                            <select class="field-style city" name="signupas" id="signupas" required>
                                <option value="SignUp" hidden>SignUp As</option>
                                <option value="Doctor"> Doctor </option>
                                <option value="Patient"> Patient </option>



                            </select>
                        </li>

                        <li>
                            <button class="submit" name="btnsave" id="btnsave">Submit</button>
                        </li>
                    </ul>
                </form>
            </div>

        </div>

        <script>
            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal


            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>


        @if (Session["doctor_id"] != null)
        {
            <button class="button"><a href="~/Home/docprofile" style="text-decoration:none;color:black;">Profile</a></button>
        }
        <button class="button"><a href="~/Home/contactus" style="text-decoration:none;color:black;">Contact Us</a></button>
        <button class="button"><a href="~/Home/aboutus" style="text-decoration:none;color:black;">About Us</a></button>
        @if (Session["user_id"] != null)
        {   <button class="button"><a href="~/Home/services" style="text-decoration:none;color:black;">Services</a></button>}
        <button class="button"><a href="~/Home/etechcare" style="text-decoration:none;color:black;">Home</a></button>
    </header>

    <form id="form1" class="form-style-91" action="/Home/signin" method="POST">

        <ul>
            <li>

                <input type="email" name="email" class="field-style field-split align-left" placeholder="Email" />
            </li>
            <li>

                <input type="password" name="password" class="field-style field-split align-right" placeholder="Password" />
            </li>
            <li>
                <a href="~/Home/forgot" class="forgot91">Fogot Your Password?</a>
                <button type="submit" id="submit">Log In</button>
            </li>


        </ul>
    </form>

    <h1 class="heading">Terms and Conditions</h1>
    <div class="data">


        <h4>Welcome to E-Tech Care.</h4>
        <span class="red">
            YOU MUST BE AT LEAST 18 YEARS OLD TO USE THIS WEBSITE.<br><br>
            PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS WEBSITE.<br><br>
            THE WEBSITE DOES NOT PROVIDE MEDICAL ADVICE, EXACT DIAGNOSIS OR TREATMENT.<br><br>
        </span>
        <span class="redd">
            This Website (including its text, graphics, images and other material contained on, or linked through) is for informational purposes only. This Website is not exhaustive and cannot always reflect all the most recent research in all areas of medicine.<br><br><br>
            This Website is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition and/or medical symptoms. Never disregard professional medical advice or delay in seeking it because of something you have read on Website! If you think you may have a medical emergency, call your doctor or the emergency services immediately.<br><br>
            E-Tech Care does not recommend or endorse any specific tests, physicians, products, procedures, opinions, or other information that may be mentioned on Website. Reliance on any information provided by this Website is solely at your own risk. Some of the content on this Website may be provided by third parties. E-Tech Care is not in a position to verify this content. E-Tech Care does not warrant that any such third party content is true, accurate or complete.
        </span><br><br><br>
        <h3 class="head">TERMS AND CONDITIONS</h3>
        The terms “E-Tech Care “refers to the website. The term "you" refers to the individual accessing and/or using the Website.
        By accessing and/or using the Website in any way, you confirm that you agree to these Terms and Conditions. Please read these Terms and Conditions carefully. If you do not accept any and/or all of these Terms and Conditions, do not use the Website. You may not amend these Terms and Conditions. E-Tech Care reserves the right (at its sole discretion) to change or otherwise revise and/or update these Terms and Conditions at any time and without prior notice. Your continued access and/or use of the Website signifies your acceptance of the amended Terms and Conditions. Be sure to return to this page periodically to review the most current version of the Terms and Conditions.<br><br><br>
        <h3 class="head"> YOUR REGISTRATION ACCOUNT AND USE OF THE WEBSITE</h3>
        You must provide accurate and complete registration information any time you register to use Website. You are responsible for the security of your passwords and for any use of your account. You must immediately notify E-Tech Care of any unauthorized use of your password or account by sending us an email via the "Contact Us" links located on every page of the Website. Your use of Website and any content accessed through Website must comply with all applicable laws, regulations and ordinances, including any laws regarding the export of data or software. You may not access Website other than by the interfaces provided by E-Tech Care or interfere with or disrupt the proper operation of Website.<br><br><br>

        <h3 class="head">

            PASSWORDS AND USE OF YOUR PERSONAL INFORMATION
        </h3>
        E-Tech Care has several tools that allow you to record and store information. You are responsible for taking all reasonable steps to ensure that no unauthorized person shall have access to your E-Tech Care passwords or accounts. It is your sole responsibility to:<br><br>
        (i) Control the dissemination and use of sign-in name, screen name and passwords.<br><br>
        (ii) Authorize, monitor, and control access to and use of your E-Tech Care account and password.<br><br>
        (iii) Promptly inform E-Tech Care if you believe your account or password has been compromised or if there is any other reason you need to deactivate a password. To send us an email, use the "Contact Us" links located on every page of our Website. You grant E-Tech Care, its licensors and all other persons or entities involved in the operation of Website the right to transmit, monitor, retrieve, store, and use your information in connection with the operation of Website. E-Tech Care cannot and does not assume any responsibility or liability for any information you submit, or your or third parties' use or misuse of information transmitted or received using E-Tech Care tools and services.<br><br>
        The personal information you submit to E-Tech Care is governed by the E-Tech Care Privacy Policy. The Privacy Policy is hereby incorporated by reference to these Terms and Conditions. To the extent there is an ambiguity, inconsistency or conflict between these Terms and Conditions and the E-Tech Care Privacy Policy, these Terms and Conditions shall prevail. If you create, transmit, or display health or other information while using Website, you may provide only information that you own or have the right to use. When you provide your information through Website, you give E-Tech Care a license to use and distribute it in connection with Website and other E-Tech Care services. However, E-Tech Care may only use health information you provide as permitted by the E-Tech Care Privacy Policy and applicable law.<br><br><br>
        <h3 class="head">USE OF THIS WEBSITE</h3>
        As a condition of your use of this Website, you warrant that<br><br>
        (i) You are at least 18 years of age, <br><br>
        (ii) You will use this Website in accordance with these Terms and Conditions,<br><br>
        (iii) All information supplied by you on this Website is true, accurate, current and complete,<br><br>
        (iv) If you have a Website account, you will safeguard your account information and will supervise and be completely responsible for any use of your account by anyone other than you. E-Tech Care retains the right at our sole discretion to deny access to anyone to this Website and the services E-Tech Care offers, at any time and for any reason, including, but not limited to, for violation of these Terms and Conditions.<br><br><br>
        <h3 class="head">OWNERSHIP, COPYRIGHT AND TRADEMARK NOTICES</h3>
        Except as otherwise indicated, the Website, and all text, images, marks, logos and other content contained herein, including, without limitation, the logo and all designs, text, graphics, pictures, information, data, software, sound files, other files, and the selection and arrangement thereof are the proprietary property of E-Tech Care or its licensors and are protected by the Islamic Republic Of Pakistan copyright laws. All content of this Website are: ©2018 E-Tech Care Limited. All rights reserved. E-Tech Care is not responsible for content on websites operated by parties other than E-Tech Care Limited.<br><br>

        E-Tech Care and the E-Tech Care logo and all other product or service names or slogans displayed on the Website are common law trademarks of E-Tech Care Limited and/or its suppliers or licensors, and may not be copied, imitated or used, in whole or in part, without the prior written permission of E-Tech Care Limited or the applicable trademark holder. In addition, the look and feel of the Website may not be copied, imitated or used, in whole or in part, without the prior written permission of E-Tech Care Limited. All other trademarks, registered trademarks, product names and company names or logos mentioned in the Website are the property of their respective owners. Reference to any products, services, processes or other information, by trade name, trademark, manufacturer, and supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof by E-Tech Care Limited.<br><br>
        If you are aware of an infringement of our brand, please let us know by e-mailing us at <span class="mail">info.etechcare@gmail.com</span><br><br><br>
        <h3 class="head">LIMITED LICENCE</h3>
        E-Tech Care grants you a personal, non-commercial, limited, revocable, non-exclusive, non-sub licensable license to access and use the Website and to view, copy and print portions of the Website content solely for the purpose of being provided with some diagnostic possibilities based on the symptoms that you have entered into the Website system or for any other purpose clearly stated on a Website, all in accordance with these Terms and Conditions. Any use of the Website that is not for one of these purposes or otherwise in accordance with these Terms and Conditions or as otherwise authorized by us in writing is expressly prohibited. Such license is subject to these Terms and Conditions, and specifically conditioned upon the following: <br><br>
        (i) You may only view, copy and print portions of the Website for your own informational, personal and non-commercial use<br><br>
        (ii) You may not modify or otherwise make derivative uses of the Website or any portion thereof<br><br>
        (iii) Any displays or printouts of Website content must be marked "(c) 2018 E-Tech Care Limited All rights reserved.”<br><br>
        (iv) You may not remove or modify any copyright, trademark, or other proprietary notices that have been placed on the Website content.<br><br>
        (v) You may not use any data mining, robots or similar data gathering or extraction methods;
        (vi) You may not use the Website other than for its intended purpose.<br><br>
        (vii) You may not reproduce, prepare derivative works from, distribute or display the Website or any site content (except for page caching), except as provided herein.<br><br>
        Except as expressly permitted above, any use of any portion of the Website or Website site content without the prior written permission of E-Tech Care is strictly prohibited and will terminate the license granted herein. Any such unauthorized use may also violate applicable laws, including without limitation copyright and trademark laws and applicable communications regulations and statutes. Unless explicitly stated herein, nothing in these Terms and Conditions may be construed as conferring any license to intellectual property rights, whether by estoppel, implication or otherwise. This license is revocable at any time. If you violate any of these Terms and Conditions, this license shall automatically terminate and you must immediately destroy any displays or printouts of Website content you have made of any portion of the Website. You represent and warrant that your use of the Website and any content herein will be consistent with this license and will not infringe or violate the rights of any other party or breach any contract or legal duty to any other parties, or violate any applicable law. Any special rules for the use of certain software and other items accessible on the Website may be included elsewhere within Website and are hereby incorporated into these Terms and Conditions by reference.<br><br><br>
        <h3 class="head">PROHIBITED ACTIVITIES</h3>
        The license to use the Website only extends to the uses expressly described herein. The content and information on this Website as well as the infrastructure used to provide such content and information, is proprietary to E-Tech Care or E-Tech Care's suppliers and providers. You agree not to otherwise modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell or re-sell any information, software, products, or services obtained from or through this Website. Additionally, you agree not to:<br><br>
        (i) Use this Website or its contents for any commercial purpose.<br><br>
        (ii) Access, monitor, reproduce, upload, republish, distribute, transmit, display or copy any content or information of this Website using any robot, spider, scraper or other automated means or any manual process for any purpose without our express written permission.<br><br>
        (iii) Violate the restrictions in any robot exclusion headers on this Website or bypass or circumvent other measures employed to prevent or limit access to this Website.<br><br>
        (iv) Take any action that imposes, or may impose, in our discretion, an unreasonable or disproportionately large load on our infrastructure, adversely affects the performance of the Website, or infringes on our copyright or the copyright of our suppliers.<br><br>
        (v) Deep-link to any portion of this Website for any purpose without our express written permission.<br><br>
        (vi) "Frame", "mirror" or otherwise incorporate any part of this Website into any other website without our prior written authorization.<br><br>
        (vii) Sell, offer for sale, transfer, or license any portion of the Website in any form to any third parties.<br><br>
        (viii) Post or transmit any false, inaccurate, misleading, unlawful, threatening, libelous, defamatory, obscene, indecent, inflammatory, pornographic or profane material or any material that could constitute or encourage conduct that would be considered a criminal offense, give rise to civil liability, or otherwise violate any law; or for any other purpose that is unlawful or prohibited by these Terms and Conditions.<br><br><br>
        <h3 class="head">INDEMNIFICATION</h3>
        You shall defend and/or indemnify E-Tech Care Limited, its respective suppliers, licensors and/or any of its officers, directors, employees, independent contractors and agents from and against any claims, causes of action, demands, recoveries, losses, damages, fines, penalties or other costs or expenses of any kind or nature including but not limited to reasonable legal and accounting fees, brought by any person or third parties as a result of<br><br>
        (i) Your breach of these Terms and Conditions and/or the documents referenced herein,<br><br>
        (ii) Your violation of any law or the rights of a third party, and/or<br><br>
        (iii) Your use of this Website.<br><br><br>
        <h3 class="head">USE AT YOUR OWN RISK</h3>
        USE OF THE WEBSITE AND RELIANCE ON ITS CONTENT IS SOLELY AT YOUR OWN RISK. THE WEBSITE (INCLUDING WITHOUT LIMITATION THE WEBSITE CONTENT) ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS.<br><br>
        When using this Website, information will be transmitted over a medium that may be beyond the control and jurisdiction of E-Tech Care and its licensors. Accordingly, E-Tech Care assumes no liability for or relating to the delay, failure, interruption, or corruption of any data or other information transmitted in connection with use of Website.<br><br><br>

        <h3 class="head">EXCLUSION OF WARRANTIES</h3>
        NEITHER E-TECH CARE NOR ANY OF E-TECH CARE'S LICENSORS MAKE ANY EXPRESS WARRANTIES, AND EACH OF THEM EXCLUDES TO THE FULLEST EXTENT PERMITTED BY LAW ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED WARRANTIES (WHETHER STATUTORY OR OTHERWISE).<br>
        NEITHER E-TECH CARE NOR ANY OF E-TECH CARE'S LICENSORS MAKE ANY WARRANTY THAT:<br>
        (1) THE WEBSITE CONTENT OR THE WEBSITE SATISFIES GOVERNMENT REGULATIONS REQUIRING DISCLOSURE OF INFORMATION, OR<br>
        (2) THE ACCURACY, RELIABILITY, COMPLETENESS OR TIMELINESS OF THE WEBSITE, THE WEBSITE CONTENT, SOFTWARE, TEXT, GRAPHICS, LINKS, OR COMMUNICATIONS PROVIDED ON OR THROUGH THE USE OF THE WEBSITE OR E-TECH CARE.<br><br><br>
        <h3 class="head">LIMITATION OF LIABILITY</h3>
        E-Tech Care or any of its licensors do not exclude or limit their liability for:<br><br>
        (i) Death or personal injury caused by their negligence, or<br><br>
        (ii) Fraudulent misrepresentation. Without prejudice to the above, E-Tech Care or any of its licensors shall not be liable to you for any personal injury, including death, caused by your use of the Website (or any of the Website content) that in is in breach of these Terms and Conditions. Any claims arising out of or in connection with your use of Website (or any of the Website content) in accordance with these Terms and Conditions must be brought within twelve (12) calendar months of the date of the event giving rise to any such claim. Remedies under these Terms and Conditions are exclusive and are limited to those expressly provided for in these Terms and Conditions.<br>
        Subject to paragraph 1 above, E-Tech Care or any of its licensors shall only be liable to you for direct loss. E-Tech Care or any of its licensors shall not be liable to you for: <br><br>
        (i) Any indirect or consequential loss;<br><br>
        (ii) Any loss of use;<br><br>
        (iii) Any loss of profits or contracts;<br><br>
        (iv) Any loss of business;<br><br>
        (v) Any loss of income, revenues or anticipated savings<br><br>
        (vi) Any loss of data; and/or<br><br>
        (vii) Any loss of goodwill whether arising from tort (including, without limitation, negligence or breach of statutory duty), breach of contract or otherwise.<br><br>
        Subject to paragraph 1 above, the aggregate liability of E-Tech Care or any of its licensors for any acts, omissions, or defaults whether in contract, tort (including, without limitation, negligence or breach of statutory duty), or howsoever arising under these Terms and Conditions shall not exceed £100 or its current equivalent.<br><br><br>

        <h3 class="head">SEARCHES, AND LINKS TO OTHER WEBSITES</h3>
        E-Tech Care may provide links to third-party websites. Such hyperlinks are provided for your reference and convenience only. E-Tech Care does not control such third party websites. E-Tech Care does not recommend and does not endorse the content on any third-party websites. E-Tech Care is not responsible for the content and privacy practices of linked third-party sites framed within Website and does not make any representations or warranties regarding their content or accuracy. The inclusion of such links does not imply any association with the operators of such third-party websites. Your use of third-party websites is at your own risk and subject to the terms and conditions of use for such sites.<br><br><br>
        <h3 class="head">JURISDICTION & GENERAL</h3>
        E-Tech Care Limited is a company incorporated in Pakistan. E-Tech Care makes no claims that the Website (including any of the Website content) is appropriate or may be downloaded outside of Pakistan. Access and/or use of the Website may not be legal by certain persons or in certain countries. If you access and/or use Website originates from outside the Pakistan, you do so at your own risk and are responsible for compliance with the laws of your jurisdiction.<br><br>
        If your access and/or use of the Website originates from the Pakistan, you expressly agree:<br><br>
        (i) That these Terms and Conditions shall be governed by the laws of Pakistan<br><br>
        (ii) That exclusive jurisdiction for any dispute arising out of or in connection with E-Tech Care, or in any way or form relating to your use of Website, resides in the courts of Pakistan. You further agree and expressly consent to the exercise of personal jurisdiction in the courts of Pakistan in connection with any such dispute including (without limitation) any claim involving E-Tech Care or its affiliates, subsidiaries, employees, contractors, officers, directors, telecommunication providers, and content providers.
        If any provision of these Terms and Conditions is found to be invalid, unlawful or unenforceable by any court having competent jurisdiction, that part shall be struck out and the remainder of such provision shall remain in effect.<br><br>
        No delay, neglect or forbearance by either E-Tech Care or you in enforcing rights under this Contract shall be a waiver of or prejudice those rights. No waiver of any term of these Terms and Conditions shall be effective unless it is agreed by both parties in writing and no waiver of any default shall constitute a waiver of any subsequent default.<br><br><br>
        <h3 class="head">COMPLETE AGREEMENT</h3>
        These Terms and Conditions constitute the entire agreement between you and E-Tech Care with respect to the use of the Website and all related Website content.



    </div>
    <footer>

        <img class="imgggg" src="~/logo.png" height="85px" width="160px" style="margin-left:80px;" />
        <div class="imgfoter" style="margin-top:-90px;">
            <a href="https://facebook.com/etechcare.web" target="_blank">
                <img src="~/fb.png" height="25px" width="25px">
            </a>

            <a href="info.etechcare@gmail.com" target="_blank">
                <img src="~/gmail.png" height="27px" width="25px">
            </a>

            <a href="https://twitter.com/etechcare_web" target="_blank">
                <img src="~/twi.png" height="25px" width="25px">
            </a>

            <a href="https://instagram.com/etechcare_web" target="_blank">
                <img src="~/insta.png" height="25px" width="25px">
            </a>
        </div>
        <span class="copy" style="padding-top:0px;"><font face="arial"><a href="~/Home/terms_and_conditions" style="color: black; margin-left: 230px; "">Terms & Conditions</a> Copyright &copy; etechcare.com 2018</font></span>
    </footer>
</body>
</html>

