
body {
	padding: 0;
	margin: 0;
	background-color: #E4E4E4;
}
.button {     
    background-color: Transparent;
    color: black;
    border: 2px #E4E4E4;
    padding: 25px 35px; 
    font-size: 15px;
    float: right;
    font-weight: bold; 
    font-family: Arial;  
}
.button:hover {
    background-color: #1E90FF;
}



header {
    
    background-color: #87CEFA;
    font-size: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 8.0%;
    z-index: 10000;

}

footer {
    
     
    color: white;
    background-color: #87CEFA;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    margin-top: 0px;
}
.imgfoter{
    padding-top: 20px;
    margin-left: 1500px;
    
}
.copy{
    color: black;
    padding-top: 30px;
    margin-left: 1005px;
    font-size: 15px;
    font-weight: bold;

}

.doc{
    background-image: url("img5.jpg");
    height: 800px;
    width: 1800px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(1px); /* Safari */
    filter: blur(px);
    


  }
  .sign{

    color: #1E90FF;
    font-size: 40px;
    font-family:Sans-serif ;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 70px;
   
    
}
  .form-style-9{
    width: 510px;
   height: 650px;
    background-color: #F0F8FF;
    position: absolute;
    margin-top:-690px;
    margin-left: 1070px;
    box-shadow: 1px 1px 4px white;
    border-radius: 10px;
    border: 6px solid #1E90FF;
    
    

    

    
}
.names{
  margin-left: 10px;
  font-weight: bold;
  font-size: 17px;
  font-family:Sans-serif ;
  color: #1E90FF;
}

.grey{

   color:  #696969;
}
.email{
  margin-left: 95px;
  width: 85.9%;
}
.cnum{
  margin-left: 10px;
  width: 85.9%;
}
.from{
width: 23%;
margin-left: 5px;
}
.to{
    margin-left:12px;
    margin-bottom: -1500px;
    position: absolute;
}
.am1{
    width: 18%}
.am2{
    width: 10.5%;
    position: absolute;
    margin-left:85px;
    margin-bottom: -1500px;
    }


.sep{
    font-size: 30px;
    margin-top: -7px;
    font-weight: bold;
  float: left;
    margin-left: 1px;
    color: #1E90FF;
    position: absolute;
}
.fee{
    
    margin-left: 118px;
    position: absolute;
    width: 50.5%;
}
.hos{
   margin-left: 80px;
    position: absolute;
    width: 50.5%;
}


.add{
    margin-left: 157px;
    position: absolute;
    width: 50.5%;
    margin-top: -50px;
}
.form-style-9 ul li{
    display: inline-block;
    
    margin-bottom: 15px;
    min-height: 35px;
    width: 300px;
    z-index: 3000;

}
.form-style-9 ul li  .field-style{
     
    padding: 5px;
    outline: none;
    border: 1px solid #B0CFE0;
    

}.form-style-9 ul li  .field-style:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
    width: 90%;
    margin-left: 28px
    
  }

.form-style-9 ul li .city{
    width: 94%;
    color:  #696969;
}
.submit{
color: white;
 height: 50px;
 width: 430px;
 background-color:#1E90FF;
 font-size: 20px;
 font-weight: bold;
 font-family:Sans-serif ;
 margin-left: 0px;
 margin-top: -80px;
 border:5px #1E90FF;
 border-radius: 5px;
 position: absolute;

}
.submit:hover {
    background-color: #1E90FF;
}


.imggg{
    margin-left: 70px;
    float: left;
}








