﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html>
<head>
    <title>Disease Diagnosis</title>
    <link rel="stylesheet" type="text/css" href="finalPage.css">
    <link rel="stylesheet" type="text/css" href="finalPagesec.css">
    @Styles.Render("~/Content/finalPage.css")
    @Styles.Render("~/Content/finalPagesec.css")
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
</head>
<body>
    <header>
        <img class="imggg" src="~/logo.png" height="125px" width="200px" />
        <button id="myBtn" class="button formButton"><a href="~/Home/logout" style="text-decoration:none;color:black;">Logout</a></button>

        <button class="button"><a href="~/Home/contactus" style="text-decoration:none;color:black;">Contact Us</a></button>
        <button class="button"><a href="~/Home/aboutus" style="text-decoration:none;color:black;">About Us</a></button>
@if (Session["user_id"] != null)
{   <button class="button"><a href="~/Home/services" style="text-decoration:none;color:black;">Services</a></button>}
        <button class="button"><a href="~/Home/etechcare" style="text-decoration:none;color:black;">Home</a></button>
    </header>

    <div class="divvv">
        @{
            string d1 = Convert.ToString(@Session["d1"]);
            string d2 = Convert.ToString(@Session["d2"]);
            string d3 = Convert.ToString(@Session["d3"]);
        }
    </div>
    <div class="overall">
        <div class="secdivvv">
            <p class="headhave">You may have</p>
            <a class="head" href="https://en.wikipedia.org/wiki/@d1"> @Session["d1"]</a>
            <p class="headhave">More likely diagnosis</p>
            <p class="headhave"> i.</p>
            <a class="neww" href="https://en.wikipedia.org/wiki/@d2"> @Session["d2"] </a>
            <p class="headhave"> ii.</p>
            <a class="neww" href="https://en.wikipedia.org/wiki/@d3"> @Session["d3"] </a>
            <div class="box">Click on the disease to find more about it.  </div><br><br>
            <p class="help">Can we further help you?</p>
            <form class="fclass" action="~/Symptoms/doctors" method="get">
                <button type="submit" class="btnnn">Find Me A Doctor</button>
            </form>
            <form class="fclass" action="~/Home/services" method="get" style="margin-top;margin-left">
                <button type="submit" class="btnnn btnn" style="margin-left:200px; margin-top:-40px; position:absolute;">No, Thank You</button>
            </form><br><br>

            <div class="boxx">
                <img src="~/Light.png" height="38px" width="50px" class="im">
                <p class="lastt"> Please note that the results accessed through E-Tech Care are for informational purposes only and are not intended to constitute professional medical advice, diagnosis or treatment. Do not delay or ignore obtaining medical advice because of information accessed through E - Tech Care. Kindly seek immediate medical assistance. The use of E -Tech Care is subject to <a href="~/Home/terms_and_conditions"> terms and conditions.</a></p>
            </div>
        </div>
    </div>
    <footer>

        <img class="imgggg" src="~/logo.png" height="85px" width="160px" />
        <div class="end">
            <div class="imgfoter">
                <a href="https://facebook.com/etechcare.web" target="_blank">
                    <img src="~/fb.png" height="25px" width="25px">
                </a>

                <a href="info.etechcare@gmail.com" target="_blank">
                    <img src="~/gmail.png" height="27px" width="25px">
                </a>

                <a href="https://twitter.com/etechcare_web" target="_blank">
                    <img src="~/twi.png" height="25px" width="25px">
                </a>

                <a href="https://instagram.com/etechcare_web" target="_blank">
                    <img src="~/insta.png" height="25px" width="25px">
                </a>
            </div>
            <span class="copy" style="padding-top:0px;"><font face="arial"><a href="~/Home/terms_and_conditions" style="color:black;">Terms & Conditions</a> Copyright &copy; etechcare.com 2018</font></span>
        </div>
    </footer>
</body>
</html>