﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Symptoms</title>
    <link rel="stylesheet" type="text/css" href="sym.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
    @Styles.Render("~/Content/sym.css")
    @Styles.Render("~/Content/cssfile.css")
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    <style>
        .set-12 {
            position: absolute;
            margin-top: 90px;
            margin-left: 20px;
            width: 400px;
        }
        .divhide {
            position: relative;
            width: 650px;
            height: 550px;
            background-color: white;
            margin-left: 0px;
            display: none;
            margin-top: 20px;
            border: 2px solid #1E90FF;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#paincb").click(function () {
                $(".divhide").show("fast");
            });
        });

        $(document).ready(function () {
            $("#head").click(function () {
                $(".divhide-2").show("fast");
            });
        });

        $(document).ready(function () {
            $("#cough").click(function () {
                $(".divhide-3").show("fast");
            });
        });
        $(document).ready(function () {
            $("#lump").click(function () {
                $(".divhide-6").show("fast");
            });
        });

        $(document).ready(function () {
            $("#skin").click(function () {
                $(".divhide-4").show("fast");
            });
        });
        $(document).ready(function () {
            $("#swell").click(function () {
                $(".divhide-5").show("fast");
            });
        });
    </script>
</head>
@{
    if (ViewBag.Less != null)
    {
        ViewBag.Less = null;
        <script>alert("Not enough symptoms selected!")</script>
    }
}
<body>

    <header>
        <img class="imggg" src="~/web.png" height="70px" width="150px" />
        <button id="myBtn" class="button formButton"><a href="~/Home/logout" style="text-decoration:none;color:black;">Logout</a></button>


        <button class="button"><a href="~/Home/contactus" style="text-decoration:none;color:black;">Contact Us</a></button>
        <button class="button"><a href="~/Home/aboutus" style="text-decoration:none;color:black;">About Us</a></button>
@if (Session["user_id"] != null)
{   <button class="button"><a href="~/Home/services" style="text-decoration:none;color:black;">Services</a></button>}
        <button class="button"><a href="~/Home/etechcare" style="text-decoration:none;color:black;">Home</a></button>
    </header>

    <form class="formsym" action="/Symptoms/symptoms" method="POST">

        <div class="divclass">
            <span class="head">
                Disease Diagnosis
            </span>
            <span class="lineone">
                SELECT THE SYMPTOMS THAT YOU ARE EXPERIENCING
            </span><br>
            <span class="linetwo">
                Note: Please select at least 3 symptoms, other than the * marked, for more accurate results.
            </span>
            <div>
                <label class="containerf">
                    <input type="checkbox" name="abnormaldischarge" value="1">
                    <span class="checkmark"></span>
                    <span class="head-2">Abnormal discharge</span>
                </label><br><br><br>
            </div>
            <div>
                <label class="containerf">
                    <input type="checkbox" name="agilation" value="2">
                    <span class="checkmark"></span>
                    <span class="head-2">Agitation</span>
                </label><br><br><br>
            </div>
            <div>
                <label class="containerf">
                    <input type="checkbox" name="anxiety" value="3">
                    <span class="checkmark"></span>
                    <span class="head-2">Anxiety </span>
                </label><br><br><br>
            </div>
            <div>
                <label class="containerf">
                    <input type="checkbox" name="bleeding" value="4">
                    <span class="checkmark"></span>
                    <span class="head-2">Bleeding</span>
                </label><br><br><br>
            </div>
            <div>
                <label class="containerf">
                    <input type="checkbox" name="stools" value="5">
                    <span class="checkmark"></span>
                    <span class="head-2">Bloody stools</span>
                </label><br><br><br>
            </div>
            <div>
                <label class="containerf">
                    <input type="checkbox" name="burine" value="6">
                    <span class="checkmark"></span>
                    <span class="head-2">Bloody urine</span>
                </label><br><br><br>
            </div>
            <div>
                <label class="containerf">
                    <input type="checkbox" name="breathlessness" value="7">
                    <span class="checkmark"></span>
                    <span class="head-2">Breathlessness <p class="star">*</p></span>
                </label><br><br><br>
            </div>
            <label class="containerf">
                <input type="checkbox">
                <span id="skin" class="checkmark"></span>
                <span class="head-2">Change in skin color</span>
                <div class="divhide-4">
                    <span class="linei">What change do you see?</span><br><br>
                    <div class="set-1">
                        <label class="containerf">
                            <input type="checkbox" name="paleskin" value="8">
                            <span class="checkmark"></span>
                            <span class="pain-1">Pale skin</span>
                        </label>
                    </div>
                    <div class="set-2">
                        <label class="containerf">
                            <input type="checkbox" name="blueskin" value="9">
                            <span class="checkmark"></span>
                            <span class="pain-1">Blue skin</span>
                        </label>
                    </div>
                    <div class="set-3">
                        <label class="containerf">
                            <input type="checkbox" name="yellowskin" value="10">
                            <span class="checkmark"></span>
                            <span class="pain-1">Yellow skin</span>
                        </label>
                    </div>
                    <div class="set-4">
                        <label class="containerf">
                            <input type="checkbox" name="redskin" value="11">
                            <span class="checkmark"></span>
                            <span class="pain-1">Red skin</span>
                        </label>
                    </div>
                    <div class="set-5">
                        <label class="containerf">
                            <input type="checkbox" name="greyskin" value="12">
                            <span class="checkmark"></span>
                            <span class="pain-1">Grey skin</span>
                        </label>
                    </div>
                </div>
                <div>
                    <label class="containerff">
                        <input type="checkbox" name="chills" value="13">
                        <span class="checkmark-2"></span>
                        <span class="head-2">Chills</span>
                    </label><br><br>
                </div>
                <div>
                    <label class="containerff">
                        <input type="checkbox" name="cloudyeyes" value="14">
                        <span class="checkmark-2"></span>
                        <span class="head-2">Cloudy eye</span>
                    </label><br><br>
                </div>
                <div>
                    <label class="containerff">
                        <input type="checkbox" name="coldeyes" value="15">
                        <span class="checkmark-2"></span>
                        <span class="head-2">Cold skin</span>
                    </label><br><br>
                </div>

                <div>
                    <label class="containerff">
                        <input type="checkbox" name="scm" value="16">
                        <span class="checkmark-2"></span>
                        <span class="head-2">Color/ Shape changing Moles</span>
                    </label><br><br>
                </div>
                <div>
                    <label class="containerff">
                        <input type="checkbox" name="conf" value="17">
                        <span class="checkmark-2"></span>
                        <span class="head-2">Confusion</span>
                    </label><br><br>
                </div>
                <div>
                    <label class="containerff">
                        <input type="checkbox" name="const" value="18">
                        <span class="checkmark-2"></span>
                        <span class="head-2">Constipation</span>
                    </label><br><br>
                </div>

                <label class="containerff">
                    <input type="checkbox">
                    <span id="cough" class="checkmark-2"></span>
                    <span class="head-2">Cough</span>
                    <div class="divhide-3">
                        <span class="linei">Describe your cough:</span><br><br>
                        <div class="set-1">
                            <label class="containerf">
                                <input type="checkbox" name="muco" value="19">
                                <span class="checkmark"></span>
                                <span class="pain-1">Mucous cough</span>
                            </label>
                        </div>
                        <div class="set-2">
                            <label class="containerf">
                                <input type="checkbox" name="drco" value="20">
                                <span class="checkmark"></span>
                                <span class="pain-1">Dry cough</span>
                            </label>
                        </div><br>
                        <span class="lineii">How long have you been experiencing it?</span><br><br><br><br>
                        <div class="set-1">
                            <label class="containerf">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span class="pain-1">Less than 3 weeks</span>
                            </label>
                        </div>
                        <div class="set-2">
                            <label class="containerf">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                <span class="pain-1">3 weeks or more</span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="cskin" value="21">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Cracked Skin</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="du" value="22">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Dark urine</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="dnonitem" value="23">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Desire to eat Nonfood items </span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="dia" value="24">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Diarrhea</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="dinlimbs" value="25">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Difficulty in moving a limb </span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="diz" value="26">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Dizziness</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="drool" value="27">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Drooling</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="deyes" value="28">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Dry eyes</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="dmouth" value="29">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Dry mouth</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="dskin" value="30">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Dry skin</span>
                        </label><br><br>
                    </div>
                   
                    <div>
                        <label class="container">
                            <input type="checkbox" name="bv" value="32">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Faded/ Blurry vision</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="fati" value="33">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Fatigue</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="fever" value="34">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Fever <p class="star">*</p></span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="flu" value="35">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Flu <p class="star">*</p></span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="fam" value="36">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Foaming at mouth</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="fstools" value="37">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Frequent stools</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="furine" value="38">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Frequent urine</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="spotoncheeks" value="39">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Greyish-white spots on the inside of cheeks</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="hloss" value="40">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Hair Loss</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="hburn" value="41">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Heartburn</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="hunger" value="42">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Hunger</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="infurine" value="43">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Infrequent urine</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="container">
                            <input type="checkbox" name="insomnia" value="44">
                            <span class="checkmark-2"></span>
                            <span class="head-2">Insomnia</span>
                        </label><br><br>
                    </div>
                    <div>
                        <label class="containerff">
                            <input type="checkbox">
                            <span id="head" class="checkmark-2"></span>
                            <span class="head-1">Itching</span>
                            <div class="divhide-2">
                                <span class="linei">Do you experience the following too? (Select all that are appropriate):</span><br><br>
                                <div class="set-1">
                                    <label class="containerf">
                                        <input type="checkbox" name="redspots" value="45">
                                        <span class="checkmark"></span>
                                        <span class="pain-1">Red spots</span>
                                    </label>
                                </div>
                                <div class="set-2">
                                    <label class="containerf">
                                        <input type="checkbox" name="blisters" value="46">
                                        <span class="checkmark"></span>
                                        <span class="pain-1">Blisters</span>
                                    </label>
                                </div>
                                <div class="set-3">
                                    <label class="containerf">
                                        <input type="checkbox" name="rashes" value="47">
                                        <span class="checkmark"></span>
                                        <span class="pain-1">Rashes</span>
                                    </label>
                                </div>
                            </div>
                            <div>
                                <label class="container">
                                    <input type="checkbox" name="ithroat" value="48">
                                    <span class="checkmark-2"></span>
                                    <span class="head-2">Itchy throat</span>
                                </label><br><br>
                            </div>
                            <div>
                                <label class="container">
                                    <input type="checkbox" name="lossappe" value="49">
                                    <span class="checkmark-2"></span>
                                    <span class="head-2">Loss of appetite</span>
                                </label><br><br>
                            </div>
                            <div>
                                <label class="containerff">
                                    <input type="checkbox">
                                    <span id="lump" class="checkmark-2"></span>
                                    <span class="head-1">Lumps</span>
                                    <div class="divhide-6">
                                        <span class="linei">Where have the lumps appeared?</span><br><br>
                                        <div class="set-1">
                                            <label class="containerf">
                                                <input type="checkbox" name="chestlumps" value="50">
                                                <span class="checkmark"></span>
                                                <span class="pain-1">On Chest</span>
                                            </label>
                                        </div>
                                        <div class="set-2">
                                            <label class="containerf">
                                                <input type="checkbox" name="eyelumps" value="51">
                                                <span class="checkmark"></span>
                                                <span class="pain-1">On Eyelid</span>
                                            </label>
                                        </div>
                                        <div class="set-3">
                                            <label class="containerf">
                                                <input type="checkbox" name="bodylimps" value="52">
                                                <span class="checkmark"></span>
                                                <span class="pain-1">Other Parts of body</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <label class="containerff">
                                            <input type="checkbox" name="nausea" value="53">
                                            <span class="checkmark-2"></span>
                                            <span class="head-2">Nausea <p class="star">*</p></span>
                                        </label><br><br>
                                    </div>
                                    <div>
                                        <label class="containerff">
                                            <input type="checkbox" name="nbleed" value="54">
                                            <span class="checkmark-2"></span>
                                            <span class="head-2">Nose bleeding</span>
                                        </label><br><br>
                                    </div>
                                    <label class="containerff">
                                        <input type="checkbox">
                                        <span id="paincb" class="checkmark-2"></span>
                                        <span class="pain-1">Pain <p class="star"></p></span>
                                        <div class="divhide">
                                            <span class="linei">	Describe the pain (Select all that are appropriate):</span><br><br>
                                            <div class="set-1">
                                                <label class="containerf">
                                                    <input type="checkbox" name="headache" value="55">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Headache<p class="star"> *</p></span>
                                                </label>
                                            </div>
                                            <div class="set-2">
                                                <label class="containerf">
                                                    <input type="checkbox" name="stomache" value="56">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Stomachache</span>
                                                </label>
                                            </div>
                                          
                                            <div class="set-3">
                                                <label class="containerf">
                                                    <input type="checkbox" name="backache" value="57">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Backache</span>
                                                </label>
                                            </div>
                                            <div class="set-4">
                                                <label class="containerf">
                                                    <input type="checkbox" name="abpain" value="58">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Abdominal pain</span>
                                                </label>
                                            </div>
                                            <div class="set-5">
                                                <label class="containerf">
                                                    <input type="checkbox" name="jointpain" value="59">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Joint pain</span>
                                                </label>
                                            </div>
                                            <div class="set-6">
                                                <label class="containerf">
                                                    <input type="checkbox" name="musclecramps" value="60">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Muscle cramps<p class="star"> *</p></span>
                                                </label>
                                            </div>
                                            <div class="set-7">
                                                <label class="containerf">
                                                    <input type="checkbox" name="thrpain" value="61">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Throat pain</span>
                                                </label>
                                            </div>
                                            <div class="set-8">
                                                <label class="containerf">
                                                    <input type="checkbox" name="shootpain" value="62">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Shooting pain</span>
                                                </label>
                                            </div>
                                            <div class="set-9">
                                                <label class="containerf">
                                                    <input type="checkbox" name="shoulderpain" value="63">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Shoulder pain</span>
                                                </label>
                                            </div>
                                            <div class="set-10">
                                                <label class="containerf">
                                                    <input type="checkbox" name="eyepain" value="64">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Eye pain</span>
                                                </label>
                                            </div>
                                            <div class="set-11">
                                                <label class="containerf">
                                                    <input type="checkbox" name="chestpain" value="65">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Chest pain</span>
                                                </label>
                                            </div>
                                            <div class="set-12">
                                                <label class="containerf">
                                                    <input type="checkbox" name="eache" value="31">
                                                    <span class="checkmark"></span>
                                                    <span class="pain-1">Earache</span>
                                                </label>
                                            </div>

                                        </div>
                                        <div>
                                            <label class="containerff">
                                                <input type="checkbox" name="rheartrate" value="66">
                                                <span class="checkmark-2"></span>
                                                <span class="head-2">Rapid heart rate</span>
                                            </label><br><br>
                                        </div>
                                        <div>
                                            <label class="containerff">
                                                <input type="checkbox" name="seizure" value="67">
                                                <span class="checkmark-2"></span>
                                                <span class="head-2">Seizure</span>
                                            </label><br><br>
                                        </div>
                                        <div>
                                            <label class="containerff">
                                                <input type="checkbox" name="sheartrate" value="68">
                                                <span class="checkmark-2"></span>
                                                <span class="head-2">Slow heart rate</span>
                                            </label><br><br>
                                        </div>
                                        <div>
                                            <label class="containerff">
                                                <input type="checkbox" name="sorethroat" value="69">
                                                <span class="checkmark-2"></span>
                                                <span class="head-2">Sore throat</span>
                                            </label><br><br>
                                        </div>
                                        <div>
                                            <label class="containerff">
                                                <input type="checkbox" name="stiffnes" value="70">
                                                <span class="checkmark-2"></span>
                                                <span class="head-2">Stiffness</span>
                                            </label><br><br>
                                        </div>
                                        <div>
                                            <label class="containerff">
                                                <input type="checkbox" name="sweating" value="71">
                                                <span class="checkmark-2"></span>
                                                <span class="head-2">Sweating</span>
                                            </label><br><br>
                                        </div>
                                        <div>
                                            <label class="container">
                                                <input type="checkbox">
                                                <span id="swell" class="checkmark-2"></span>
                                                <span class="head-2">Swelling</span>
                                                <div class="divhide-5">
                                                    <span class="linei">Describe the swelling (Select all that are appropriate):</span><br><br>
                                                    <div class="set-1">
                                                        <label class="containerf">
                                                            <input type="checkbox" name="neckswelling" value="72">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen neck</span>
                                                        </label>
                                                    </div>
                                                    <div class="set-2">
                                                        <label class="containerf">
                                                            <input type="checkbox" name="tongueswelling" value="73">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen tongue</span>
                                                        </label>
                                                    </div>
                                                    <div class="set-3">
                                                        <label class="containerf">
                                                            <input type="checkbox" name="jointsswelling" value="74">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen joints</span>
                                                        </label>
                                                    </div>
                                                    <div class="set-4">
                                                        <label class="containerf">
                                                            <input type="checkbox" name="armpitsswelling" value="75">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen armpits</span>
                                                        </label>
                                                    </div>
                                                    <div class="set-5">
                                                        <label class="containerf">
                                                            <input type="checkbox" name="faceswelling" value="76">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen face</span>
                                                        </label>
                                                    </div>
                                                    <div class="set-6">
                                                        <label class="containerf">
                                                            <input type="checkbox" name="stomachswelling" value="77">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen stomach</span>
                                                        </label>
                                                    </div>
                                                    <div class="set-7">
                                                        <label class="containerf">
                                                            <input type="checkbox" name="skinswelling" value="78">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen skin</span>
                                                        </label>
                                                    </div>
                                                    <div class="set-8">
                                                        <label class="containerf">
                                                            <input type="checkbox" name="feetswelling" value="79">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen feet </span>
                                                        </label>
                                                    </div>
                                                    <div class="set-9">
                                                        <label class="containerf">
                                                            <input type="checkbox" name="lipsswelling" value="80">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen lips</span>
                                                        </label>
                                                    </div>
                                                    <div class="set-10">
                                                        <label class="containerf">
                                                            <input type="checkbox" name="handsswelling" value="81">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen hands </span>
                                                        </label>
                                                    </div>
                                                    <div class="set-11">
                                                        <label class="containerf">
                                                            <input type="checkbox" name="legsswelling" value="82">
                                                            <span class="checkmark"></span>
                                                            <span class="pain-1">Swollen legs</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="containerff">
                                                        <input type="checkbox" name="thirst" value="83">
                                                        <span class="checkmark-2"></span>
                                                        <span class="head-2">Thirst</span>
                                                    </label><br><br>
                                                </div>
                                                <div>
                                                    <label class="containerff">
                                                        <input type="checkbox" name="vdisturbance" value="84">
                                                        <span class="checkmark-2"></span>
                                                        <span class="head-2">Visual disturbance</span>
                                                    </label><br><br>
                                                </div>
                                                <div>
                                                    <label class="containerff">
                                                        <input type="checkbox" name="vomit" value="85">
                                                        <span class="checkmark-2"></span>
                                                        <span class="head-2">Vomiting</span>
                                                    </label><br><br>
                                                </div>
                                                <div>
                                                    <label class="containerff">
                                                        <input type="checkbox" name="weakness" value="86">
                                                        <span class="checkmark-2"></span>
                                                        <span class="head-2">Weakness <p class="star">*</p></span>
                                                    </label><br><br>
                                                </div>
                                                <div>
                                                    <label class="containerff">
                                                        <input type="checkbox" name="weightgain" value="87">
                                                        <span class="checkmark-2"></span>
                                                        <span class="head-2">Weight Gain</span>
                                                    </label><br><br>
                                                </div>

                                                <div>
                                                    <label class="containerff">
                                                        <input type="checkbox" name="weightloss" value="88">
                                                        <span class="checkmark-2"></span>
                                                        <span class="head-2">Weight loss</span>
                                                    </label><br><br>
                                                </div>

                                                <div>
                                                    <label class="containerff">
                                                        <input type="checkbox" name="wheezing" value="89">
                                                        <span class="checkmark-2"></span>
                                                        <span class="head-2">Wheezing</span>
                                                    </label><br><br>
                                                </div>

                                            </label>









                                            <button class="submit" name="btnsave" id="btnsave" style="margin-top: 1020px;margin-left:600px;">Submit</button>







                                        </div>

    </form>
    </label></div></label></label></div></label></div></form>













    <footer>

        <img class="imgggg" src="~/logo.png" height="85px" width="160px" style="margin-left:80px;" />
        <div class="imgfoter" style="margin-top:-90px;">
            <a href="https://facebook.com/etechcare.web" target="_blank">
                <img src="~/fb.png" height="25px" width="25px">
            </a>

            <a href="info.etechcare@gmail.com" target="_blank">
                <img src="~/gmail.png" height="27px" width="25px">
            </a>

            <a href="https://twitter.com/etechcare_web" target="_blank">
                <img src="~/twi.png" height="25px" width="25px">
            </a>

            <a href="https://instagram.com/etechcare_web" target="_blank">
                <img src="~/insta.png" height="25px" width="25px">
            </a>
        </div>
        <span class="copy" style="padding-top:0px;"><font face="arial"><a href="~/Home/terms_and_conditions" style="color:black;margin-left:220px;">Terms & Conditions</a> Copyright &copy; etechcare.com 2018</font></span>
    </footer>
</body>
</html>
