.divv{
    background-color: ;
    margin-left:350px;
    width: 1000px;
    height: 500px;
    margin-top: 140px;
    font-size: 18px;
    font-family: Arial;
}
.end{
    margin-left: 130px;
}
h1{
    color: #1C86EE;
    font-size: 30px;
   
}
.link{
    
    color: #1C86EE;
}
.bold{
	font-weight: bold;
}
.uper{
    margin-left: 170px;
    margin-top: -10px;
}
.extraa
{
    position: absolute;
    margin-top: 60px;
    margin-left: 0px;

}