
body {
	padding: 0;
	margin: 0;
	background-color: #E4E4E4;
     
}
.button {     
    background-color: Transparent;
    color: black;
    border: 2px #E4E4E4;
    padding: 25px 35px; 
    font-size: 15px;
    float: right;
    font-weight: bold; 
    font-family: Arial;  
}
.button:hover {
    background-color: #1E90FF;
}



header {
    
    background-color: #87CEFA;
    font-size: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 8.5%;
    z-index: 10000;

}

footer {
    
     margin-top: 350px;
    color: white;
    background-color: #87CEFA;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}
.imgfoter{
    padding-top: 20px;
    margin-left: 1300px;
    
}
.copy{
    color: black;
    padding-top: 30px;
    margin-left:955px;
    font-size: 15px;
    font-weight: bold;

}


.lastimg{
    padding-top:400px;
    padding-bottom: 30px;
    margin-left: 400px;
}

.sign{

    color: #1E90FF;
    font-size: 40px;
    font-family:Sans-serif ;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 170px;
   
    
}
.imggg{
    margin-left: 30px;
    float: left;
    margin-top: -30px;
}
.imgggg{
    margin-left: 50px;
    float: left;
    margin-top: -5px;
}
.form-style-9{
    width: 500px;
   height: 500px;
    background: #F0F8FF;
    
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 1px 1px 4px white;
    border-radius: 10px;
    border: 6px solid #3498db;
    
}

.form-style-9 ul li{
    display: block;
    margin-left: 70px;
    margin-bottom: 15px;
    min-height: 35px;
    width: 300px;
}
.form-style-9 ul li  .field-style{
     
    padding: 5px;
    outline: none;
    border: 1px solid #B0CFE0;
    

}.form-style-9 ul li  .field-style:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
    width: 90%;
}
.form-style-9 ul li .city{
    width: 94.5%;
    color:  #696969;
}
.submit{
color: #E4E4E4;
 height: 40px;
 width: 100px;
 background-color:#1E90FF;
 font-size: 15px;
 font-weight: bold;
 font-family:Sans-serif ;
 margin-left: 100px;
 margin-top: 10px;
 border:5px #1E90FF;
 border-radius: 5px;

}
.submit:hover {
    background-color: #1E90FF;
}











.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: transparent;
    margin: auto;
    padding: 20px;
   
    width: 34%;
}




.i{
    background-image: url("2.jpg");
    width: 100%;
    height: 500px;

}








.lastpara{
    
    font-size: 20px;
    text-align: center;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 150px;
}



.form-style-91{
    width: 300px;
   height: 105px;
    background: #F0F8FF;
    position: absolute;
    margin-top: -555px;
    display:none;
    
    box-shadow: 1px 1px 4px white;
    border-radius: 8px;
    border: 4px solid #3498db;
     
  
  margin-left: 1270px;
    
}

.form-style-91 ul li{
    display: block;
    margin-left: -15px;
    margin-bottom: 0px;
    min-height: 35px;
    margin-top: -5px;
    width: 270px;

}
.form-style-91 ul li  .field-style{
     
    padding: 5px;
    outline: none;
    border: 1px solid #B0CFE0;
    

}.form-style-91 ul li  .field-style:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
.form-style-91 ul li .field-split{
    width: 90%;
}


.forgot91{

    font-family:Sans-serif;
    font-weight: bold;
    color: #1E90FF;
    text-decoration: none;
    position: absolute;
    float: left;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 2px;
    
}
#submit{
  border-radius: 3px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  background:#1E90FF;
  padding: 6px;
  text-decoration: none;
  margin-left: 175px;
 width: 80px;
  border-color: #1E90FF;
}



