body {
    padding: 0;
    margin: 0;
    

}
.button {     
    background-color: Transparent;
    color: black;
    border: 2px #E4E4E4;
    padding: 25px 35px; 
    font-size: 15px;
    float: right;
    font-weight: bold; 
    font-family: Arial;  
}
.button:hover {
    background-color: #1E90FF;
}



header {
    
    background-color: #87CEFA;
    font-size: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 8.5%;
    z-index: 10000;
    

}

footer {
    
    
    color: white;
    background-color: #87CEFA;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 80px;
    margin-bottom: 0px;
    position: absolute;
  
    

    
}
.imgfoter{
    padding-top: 20px;
    margin-left: 1300px;
    
}
.copy{
    color: black;
    padding-top: 30px;
    margin-left: 935px;
    font-size: 15px;
    font-weight: bold;

}
.ontext { 
   position: absolute; 
   top: 150px; 
   left: 65%; 
   width: 500px;
   height: 200px; 
   
    padding: 30px 30px 20px;
    box-sizing: border-box;
    margin-bottom: 1000px;
}

.img{
    margin-top: 30px;
    margin-left: 80px;
}
.imgg{
    margin-top: 30px;
    margin-left: 80px;
    
}


.sign{

    color: #1E90FF;
    font-size: 40px;
    font-family:Sans-serif ;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 170px;
   
    
}
.imggg{
    margin-left: 70px;
    float: left;
}
.divv{
    background-color: ;
    margin-left:350px;
    width: 900px;
    height: 500px;
    margin-top: 140px;
    font-size: 18px;
    font-family: Arial;
}
.link{
    margin-left: 20px;
    margin-top: 2px;
    position: absolute;
    color: #1C86EE;
}
h1{
    color: #1C86EE;
   
}
.end{
    margin-left: 130px;
}
.uper{
    margin-left: 300px;
    margin-top: -10px;
}
.extraa
{
    position: absolute;
    margin-top: 10px;
    margin-left: 0px;

}