body {
	padding: 0;
	margin: 0;
    background-color: #E4E4E4;
	
}
.button {     
    background-color: Transparent;
    color: black;
    border: 2px #E4E4E4;
    padding: 25px 35px; 
    font-size: 15px;
    float: right;
    font-weight: bold; 
    font-family: Arial;  
}
.button:hover {
    background-color: #1E90FF;
}



header {
    
    background-color: #87CEFA;
    font-size: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 8.5%;
    z-index: 10000;
    

}

footer {
    
    margin-top: 714px;
    color: white;
    background-color: #87CEFA;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    margin-bottom: -1130px;
    position: absolute;
  
    

    
}

}
.imgfoter{
    padding-top: 30px;
    position: absolute;
     
    
}
.end{
    margin-top: 10px;
    margin-left: 1450px;
}
.copy{
    color: black;
    padding-top: 30px;
  margin-left: 945px;
    font-size: 15px;
    font-weight: bold;

}
.ontext { 
   position: absolute; 
   top: 150px; 
   left: 65%; 
   width: 500px;
   height: 200px; 
   
    padding: 30px 30px 20px;
    box-sizing: border-box;
    margin-bottom: 1000px;
}

.img{
	margin-top: 30px;
	margin-left: 80px;
}
.imgg{
	margin-top: 30px;
	margin-left: 80px;
    
}


.sign{

    color: #1E90FF;
    font-size: 40px;
    font-family:Sans-serif ;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 170px;
   
    
}
.imggg{
    margin-left: 30px;
    float: left;
    margin-top: -30px;
}
.imgggg{
    margin-left: 50px;
    float: left;
    margin-top: -5px;
}

.formdoc{
    background-color: white;
    width: 900px;
    height: 1500px;
    margin-left: 360px;
    margin-top: 200px;
    position: absolute;
     border: 1px;
    padding: 10px 10px 20px 10px;
    box-shadow: 10px 10px 10px #aaaaaa;
}
.intdiv{
    
    margin-left: 80px;
    margin-top: 100px;
    width: 740px;
    height: 1500px;
    position: absolute;
    font-family: Arial;
}
.intdivv{
    
    margin-left: 80px;
    margin-top: 0px;
    width: 740px;
    height: 1500px;
    position: absolute;
    font-family: Arial;
}
.s-1{
    font-size: 30px;
    margin-top: 100px;
    position: absolute;
    margin-left: 90px;
    color: #1C86EE;
    font-family:Arial;
    font-weight: bold; 
}
.s-2{
    font-size: 15px;
    position: absolute;
    color: #1C86EE;
    margin-left: 0px;
    margin-top: 20px;
    font-family:Arial;
    font-weight: bold; 
}
.imagedp{
    width: 210px;
    height: 210px;
    margin-left: 525px;
    margin-top: 0px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    position: absolute;
    border-color: #1C86EE;
}
.im{
margin-top:4px;
margin-left: 4.5px;
margin-right: 2px;
margin-bottom: 2px;
}


input[type=file]{
    
display: none;
position: absolute;
}
.in{
    margin-left: 50px;
    color: #1C86EE;
    font-weight: bold;
    width:120px;
}
.greyy{
    background-color:  #F8F8FF;
    border-style: solid;
    border-radius: 5px;
    border-color:  #F8F8FF;
    height: 110px;
}
.greyyy{
    background-color:  #F8F8FF;
    border-style: solid;
    border-radius: 5px;
    border-color:  #F8F8FF;
    height: 110px;
    margin-top: 10px;
}


.save{
  background-color: #1C86EE;
  border:#0198E1;
  font-size:1em;
  color:white;
    margin-left: 265px;
    position: absolute;
    font-weight: bold;
    margin-top: 80px;
    padding: 8px;
     border-width: 2px;
    border-radius: 5px;
    font-family:Arial;
    width: 12%;

}.secform{
    width: 122%;
    height: 100%;
    display: none;
    background-color: transparent;
    position: absolute;
    z-index: 0000;
    margin-top: -1350px;
    margin-left: -82px;
}
.inp{
    width: 350px;
    height: 25px;
      
}
.inpu{
    width: 355px;
    height: 33px;
    color: grey;  
}
.grey{
    color: grey;
}
.extra{
margin-top: 10px;
}
.one{
    width: 83px;
    height: 27px;
}
.bold{
    font-weight: bold;
}
.ii{
    width: 100%;
    height: 235%;
    background-repeat: no-repeat;
    position: absolute;
}