body {
	padding: 0;
	margin: 0;
    background-color: #E4E4E4;
	
}
.button {     
    background-color: Transparent;
    color: black;
    border: 2px #E4E4E4;
    padding: 25px 35px; 
    font-size: 15px;
    float: right;
    font-weight: bold; 
    font-family: Arial;  
}
.button:hover {
    background-color: #1E90FF;
}



header {
    
    background-color: #87CEFA;
    font-size: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 8.5%;
    z-index: 10000;
    

}

footer {
    
    
    color: white;
    background-color: #87CEFA;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    
    position: relative;
  
    

    
}

}
.imgfoter{
    padding-top: 40px;
  
     
    
}
.end{
    margin-top: 32px;
    margin-left: 1430px;
}
.copy{
    color: black;
    padding-top: 30px;
  margin-left: 945px;
    font-size: 15px;
    font-weight: bold;

}


.img{
	margin-top: 30px;
	margin-left: 80px;
}
.imgg{
	margin-top: 30px;
	margin-left: 80px;
    
}


.imggg{
    margin-left: 30px;
    float: left;
    margin-top: -30px;
}
.imgggg{
    margin-left: 50px;
    float: left;
    margin-top: -5px;
}
.f{
    width: 1580px;
    height: 280px;
    background-image: url(d.jpg);
    background-size: 1580px 320px;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}
.se{
    width: 220px;
    height: 405px;
   background-color: #ADD8E6;
    margin-top: 77px;
    margin-left: 330PX;
    display: inline;
    position: absolute;

}
.thi{
    
    width: 680px;
    height: 180px;
    background-color: white;
    margin-left: 600px;
    margin-top: 40px;
    display: block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-style: solid;
    border-width: thin;
    border-color:  #87CEFA;
}
.pro{
    width: 130px;
    height: 130px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #87CEFA;
    margin-top: 20px;
    margin-left: 20px;
    display: inline;

}

.named{
    color: #1C86EE;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 23px;
    font-family: Arial;
    margin-left: 200px;
    margin-top: -120px;

}
.spec{
    font-family: Arial;
    font-size: 17px;
    margin-top: -5px;
    margin-left: 200px;
    color: grey;

     
}
.time{
    font-family: Arial;
    font-size: 15px;
    margin-top: -5px;
    margin-left: 200px;
    text-transform: uppercase; 
    color: grey;
}
.hos{
      font-family: Arial;
    font-size: 15px;
    margin-top: -5px;
    margin-left: 200px;
    color: grey;

  
}
.det{
    background-color: #1C86EE;
    width: 160px;
    height: 40px;
    font-family: Arial;
    font-size: 13px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-style: solid;
    border-width: thin;
    border-color:  #87CEFA;
    border-radius: 5px;
    margin-left: 470px;
    position: absolute;
    margin-top: -50px;

}