.divvv{
	width: 1597px;
	height: 670px;
    background-image: url(bg33.jpg);
     background-repeat: no-repeat;
    background-size: 1600px 670px;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    box-shadow: 1px 1px 4px #3498db;
    z-index: 10;
    margin-top: -670px;
    margin-left: 0px;
    position: absolute;

}
.secdivv{
	position: absolute;
	z-index: 50000;
	margin-left: 500px;
	margin-top: -550px;
	color: white;
	;
	width: 900px;
	height: 600px;

}
.secdivvv{
	position: absolute;
	z-index: 50000;
	margin-left: 500px;
	margin-top: -600px;
	color: black;
	;
	width: 810px;
	height: 600px;

}
.headhave{
	font-size: 20px;
	font-family: Arial;
	

}
.head{
	text-transform: uppercase;
	color: #3498db;
	font-size: 42px;
	text-decoration: none;
	font-family: Arial;
    font-weight: bold;
}
.neww{
	font-size: 20px;
	position: absolute;
	color: #3498db;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 30px;
	margin-top: -43px;
	font-family: Arial;
	font-weight: bold;
}
.box{
	width: 100px
	height:300px;
    border-style: solid;
    position: absolute;
	padding: 10px;
	border-color:#3498db; 
	border-radius: 2px;
	font-family: Arial;
	
}
.boxx{
	width: 500px
	height:100px;
    border-style: solid;
    
	padding: 10px;
	border-color:#3498db; 
	border-radius: 2px;
	font-family: Arial;

}
.help
{
	font-size: 25px;
	font-family: Arial;
	font-weight: bold;
}
.btnn{
	
margin-left: 20px;
}
.btnnn{
	background-color: #3498db;
	width: 150px;
	height: 40px;
	border-style: solid;
    border-width: thin;
	border-color:#3498db; 
	border-radius: 3px;
	color: white;
	font-weight: bold;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.im{
	position: absolute;
	margin-top: 30px;

}
.lastt{
	margin-left: 70px;
	font-family: Arial;
	font-size: 15px;
	color: black;

}
.overall{
	margin-left: 230px;


}
a{
	color: #3498db;
}