body {
	padding: 0;
	margin: 0;
    background-color: #E4E4E4;
	
}
.button {     
    background-color: Transparent;
    color: black;
    border: 2px #E4E4E4;
    padding: 25px 35px; 
    font-size: 15px;
    float: right;
    font-weight: bold; 
    font-family: Arial;  
}
.button:hover {
    background-color: #1E90FF;
}



header {
    
    background-color: #87CEFA;
    font-size: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 8.5%;
    z-index: 10000;
    

}

footer {
    
    
    color: white;
    background-color: #87CEFA;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 85px;
    
    position: relative;
  
    

    
}

}
.imgfoter{
    padding-top: 40px;
  
     
    
}
.end{
    margin-top: 32px;
    margin-left: 1430px;
}
.copy{
    color: black;
    padding-top: 30px;
  margin-left: 945px;
    font-size: 15px;
    font-weight: bold;

}


.img{
	margin-top: 30px;
	margin-left: 80px;
}
.imgg{
	margin-top: 30px;
	margin-left: 80px;
    
}


.imggg{
    margin-left: 30px;
    float: left;
    margin-top: -30px;
}
.imgggg{
    margin-left: 50px;
    float: left;
    margin-top: -5px;
}
.f{
    width: 500px;
    height: 300px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-left:550px;
    margin-top: 250px;
}
.forgot{
   margin-left: 120px;
   margin-top: 50px;
   color:#1E90FF;
   position: absolute;
   font-family: Arial;
}
.em{
   width: 303px;
   height: : 50px;
   position: absolute;
   margin-top: 130px;
   padding: 7px;
   margin-left: 100px;

}
.formm{
position: absolute;
width: 320px;
height: 40px;
background-color:#1E90FF;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
border-radius: 3px;
border: 2px solid #1E90FF;
color: white;
margin-left: 100px;
margin-top: 190px;



}
.for{
    display: none;
    width: 500px;
    height: 300px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-left:550px;
    margin-top: 250px;
}