.divc{
	width: 1597px;
	height: 670px;
    background-image: url(bg4.jpeg);
     background-repeat: no-repeat;
    background-size: 1650px 1100px;
    -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
    filter: blur(0px);
    box-shadow: 1px 1px 4px #3498db;
    z-index: 10;
    margin-top: -670px;
    margin-left: 0px;
    position: absolute;
}
.head1{
	position: absolute;
	margin-top: -1370px;
	margin-left: 375px;
	color: #1C86EE;
    font-size: 37px;
    font-family: Arial;
}
h2{
	margin-left: 600px;
	font-family: Arial;
	margin-top: 180px;
	font-size: 40px;
	color: #3498db;
}
.btn{
	margin-left: 600px;
	background-color: #3498db;
	width: 190px;
	height: 70px;
	color: white;
	font-family: Arial;
	font-size: 18px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border: 0px solid white;
	border-radius: 8px;
	margin-top: 20px;

	
}
.btnn{
	margin-left: 50px;
	background-color: #3498db;
	width: 190px;
	height: 70px;
	color: white;
	font-family: Arial;
	font-size: 18px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border: 0px solid white;
	border-radius: 8px;
	margin-top: 20px;

	
}
.btn:hover 
{
	background-color: #87CEFA;
}
.btnn:hover 
{
	background-color: #87CEFA;
}
.seconddiv{
	z-index: 100000;
	position: absolute;
	width: 550px;
	height: 300px;
	background-color: white;
	margin-top: -315px;
	margin-left: 600px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border: 3px solid #3498db;
	border-radius: 5px;
	display: none;

}
.inp{
	width: 300px;
	height: 30px;
	font-size: 13px;
}
.btnform{
	position: absolute;
	margin-left: 780px;
	margin-top: -90px;
}






