.heading{
	margin-top: 140px;
	float: left;
	color: #1E90FF;
	margin-left: 700px;
	position: absolute;
	z-index: 10;
}
.data{
	margin-top: 250px;
	position: absolute;
	margin-left: 250px;
	margin-right: 250px;
	font-family:Arial ;
	text-align: justify;
	
	position: absolute;
	font-size: 17px;
	word-spacing: 5px;
	
}
.red{
	color: red;
	font-weight: bold;
	font-size: 17px;
     
}
.redd{
	color: red;
	font-size: 17px;
}
.head{
	color: #1E90FF; 
}
.mail{
	color: #1E90FF;
	text-decoration: underline;
}